<div class="page" (click)="hideNoti()">
    <p-progressBar [value]="session.value" [hidden]="!session.inProgress"></p-progressBar>
    <div class="menuHeader">
        <div class="menu">
            <div class="logo">

            </div>

            <ul class="navLinks">
                <li class="label"><a [routerLink]="['/mainPage/dashboard']">Dashboard</a></li>
                <li class="label"><a [routerLink]="['/mainPage/activity']">Transactions</a></li>
                <li class="label"><a [routerLink]="['/mainPage/wallet']">Wallet</a></li>
                <li class="label"><a [routerLink]="['/mainPage/settings']">Settings</a></li>
                <li class="icon notiIcon">
                    <!--<a data-toggle="popover" (click)="showPopup()" data-container="body" data-placement="bottom" type="button" data-html="true">
                        <object class="obj" type="image/svg+xml" data="/images/svg/icon_notification.svg"></object>
                    </a>-->
                    <a (click)="bellClick($event)" id="bell">
                        <object class="obj" [hidden]="getUnreadNoti()>0" type="image/svg+xml" data="/images/svg/icon_notification.svg"></object>
                        <object class="obj" [hidden]="getUnreadNoti()==0" type="image/svg+xml" data="/images/svg/icon_notification_active.svg"></object>
                    </a>
                </li>
                <li class="label">
                    <button class="wpBtn sec" (click)="logout()">Log out</button>
                    <!--<a>
                        <object class="obj" type="image/svg+xml"  data="/images/svg/icon_user.svg"></object>
                    </a>-->
                </li>
                <li class="icon menuIcon">
                    <a (click)="sideMenu = !sideMenu">
                        <object class="obj" type="image/svg+xml" data="/images/svg/icon_menu.svg"></object>
                    </a>
                </li>
            </ul>

            <div>

            </div>
        </div>
    </div>
    <div id="noti-content" class="arrow_box" [hidden]="!notiShow" (click)="$event.stopPropagation()">
        <label class="label">Notifications</label>
        <div class="nots">
            <div class="notiList scrollbox" background="#333" opacity="0.6" position="right" width="7px" border-radius="5px">
                <div *ngFor="let noti of notifications" class="noti" [ngClass]="{unread:noti.unread}">{{noti.stmt}}</div>
                <div class="emptyNoti" [hidden]="notifications.length!=0"><label>No Notifications</label></div>
            </div>
        </div>
    </div>
    <div class="contentBox">
        <div class="viewLoader">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="footerBox">
        <div class="footer text-center">
            <ul class="footerLinks clearfix">
                <li><a [routerLink]="['/mainPage/contact']">Contact</a></li>
                <li><a href="#">Security</a></li>
                <li><a (click)="privacy()">Privacy</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
            <div class="line"></div>
            <p>
                Consumer advisory-XYZ Ltd.,the holder of XYZ's stored value facility does not require the approval of the Monetary Authority
                of XYZ.Users are advised to read the terms and conditions carefully.
            </p>
        </div>
    </div>
    <div class="sideMenu" [ngClass]="{'show': sideMenu}">
        <div class="head">
            <a (click)="sideMenu=false">&times;</a>
            <div class="logo"></div>
        </div>
        <div class="menu">
            <ul>
                <li class="label"><a [routerLink]="['/mainPage/dashboard']" (click)="sideMenu=false">Dashboard</a></li>
                <li class="label"><a [routerLink]="['/mainPage/activity']" (click)="sideMenu=false">Transactions</a></li>
                <li class="label"><a [routerLink]="['/mainPage/wallet']" (click)="sideMenu=false">Wallet</a></li>
                <li class="label"><a [routerLink]="['/mainPage/settings']" (click)="sideMenu=false">Settings</a></li>
                <li class="label"><a [routerLink]="['/login']" (click)="sideMenu=false;logout();">Logout</a></li>
            </ul>
        </div>
    </div>
</div>