<div class="addCcContainer">
    <div [hidden]="!step1" class="step1">
        <label class="title">Enter ACH Details</label>
        <div>
            <form [ngFormModel]="achForm" novalidate>
                <input required placeholder="Account Holder Name" ngControl="name"  maxlength="30" [(ngModel)]="selectedAch.name" />
                <control-messages [control]="achForm.controls.name"></control-messages>
                <input required placeholder="Routing Number" pattern="[0-9]{9}" minlength="9" maxlength="9" ngControl="routingNo" [(ngModel)]="selectedAch.routingNo" />
                <control-messages [control]="achForm.controls.routingNo"></control-messages>
                <input required placeholder="Account Number" pattern="[0-9]{4,20}"  ngControl="accNo" [(ngModel)]="selectedAch.accNo" maxlength="20" minlength="4" />
                <control-messages [control]="achForm.controls.accNo"></control-messages>
                <input required placeholder="Bank Name"  ngControl="bankName"  [(ngModel)]="selectedAch.bankName" maxlength="30" />
                <control-messages [control]="achForm.controls.bankName"></control-messages>
                <button class="wpBtn" (click)="click1()">{{type}} ACH</button>
            </form>
        </div>
    </div>
    <div [hidden]="!stepWait" class="wait">
        <label>Processing</label>
        <div class="arrow"></div>
        <span>Please Wait</span>
    </div>
    <div [hidden]="!step2" class="step2">
        <label>CONGRATULATION! ACH <span [hidden]="type!='Add'">ADDED</span><span [hidden]="type=='Add'">UPDATED</span> SUCCESSFULLY</label>
        <button class="wpBtn" (click)="click2()">DONE</button>
    </div>
    <div [hidden]="!step3" class="step3">
        <label>REQUEST UNSUCCESSFUL!</label>
        <span>Your ACH with title {{selectedAch.bankName}}-{{selectedAch.accNo.substr(selectedAch.accNo.length - 4)}}  was declined.</span>
    </div>
</div>