<div class="addCcContainer addCheckContainer ">
    <div [hidden]="!step1" class="step1">
        <label  class="title">Enter PaperCheck Details</label>
        <div>
            <form [ngFormModel]="checkForm" novalidate>
                <input placeholder="Address" ngControl="address" maxlength="30" required [(ngModel)]="selectedCheck.address" />
                <control-messages [control]="checkForm.controls.address"></control-messages>
                <input placeholder="City" ngControl="city" maxlength="30" required [(ngModel)]="selectedCheck.city" />
                <control-messages [control]="checkForm.controls.city"></control-messages>
                <!--<input placeholder="State" ngControl="state" maxlength="30" required [(ngModel)]="selectedCheck.state" />
                <control-messages [control]="checkForm.controls.state"></control-messages>
                <input placeholder="Country" ngControl="country" maxlength="30" required [(ngModel)]="selectedCheck.country" />
                <control-messages [control]="checkForm.controls.country"></control-messages>-->
                <wp-country [selectCntry]="selectedCheck.country" (statesListChanged)="getStateList($event)"></wp-country>
                <div class="errorMsg">
                    <div *ngIf="selectedCheck.country=='' && checkForm.touched"><i class="fa fa-warning"></i>&nbsp;&nbsp;Required
                    </div>
                </div>
                <select required ngControl="state"  [(ngModel)]="selectedCheck.state"><option *ngFor="let state of states" [ngValue]="state.stateId">{{state.stateName}}</option></select>
                <control-messages [control]="checkForm.controls.state"></control-messages>
                <input placeholder="ZIP Code" ngControl="zip" pattern="[0-9]{5,6}" maxlength="6" required [(ngModel)]="selectedCheck.zip"
                />
                <control-messages [control]="checkForm.controls.zip"></control-messages>
                <button class="wpBtn" (click)="click1()">{{type}} PaperCheck</button>
            </form>
        </div>
    </div>
    <div [hidden]="!stepWait" class="wait">
        <label>Processing</label>
        <div class="arrow"></div>
        <span>Please Wait</span>
    </div>
    <div [hidden]="!step2" class="step2">
        <label>CONGRATULATION! PAPERCHECK <span [hidden]="type!='Add'">ADDED</span><span [hidden]="type=='Add'">UPDATED</span> SUCCESSFULLY</label>
        <button class="wpBtn" (click)="click2()">DONE</button>
    </div>
    <div [hidden]="!step3" class="step3">
        <label>REQUEST UNSUCCESSFUL!</label>
        <span>Your PaperCheck with title {{selectedCheck.address}}-{{selectedCheck.city}}  was declined.</span>
    </div>
</div>