<div class="addCcContainer">
    <div [hidden]="!step1" class="step1" [ngClass]="{'s':isSignup}">
        <label class="title" [hidden]="isSignup">Enter Card Details</label>

        <div [hidden]="nameDiv" class="clearfix">
            <form [ngFormModel]="ccForm1" class="clearfix" novalidate>
                <div class="clearfix">
                    <div [ngClass]="{'col-sm-6': isSignup}">
                        <span class="cardNoReadOnly" [hidden]="selectedCard.id == null">{{selectedCard.cardNo.substr(0, 4) + "XXXXX" + selectedCard.cardNo.substr(selectedCard.cardNo.length - 4)}}</span>
                        <input placeholder="Card number" [ngClass]="{'cardNoText':selectedCard.id != null}" [readonly]="selectedCard.id != null"
                            pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|(?:5[1-5][0-9]{2}|222[1-9]|22[3-9][0-9]|2[3-6][0-9]{2}|27[01][0-9]|2720)[0-9]{12}|3[47][0-9]{13})$"
                            required ngControl="cardNo" maxlength="19" [(ngModel)]="selectedCard.cardNo" />
                        <div class="ccLogo">
                            <object *ngIf="getCardType(selectedCard.cardNo)=='visa'" class="cardObj" type="image/svg+xml" data="/images/cc-svg/visa.svg"></object>
                            <object *ngIf="getCardType(selectedCard.cardNo)=='master'" class="cardObj master" type="image/svg+xml" data="/images/cc-svg/mastercard.svg"></object>
                            <object *ngIf="getCardType(selectedCard.cardNo)==='amex'" class="cardObj amex" type="image/svg+xml" data="/images/cc-svg/amex.svg"></object>
                        </div>
                        <control-messages [control]="ccForm1.controls.cardNo"></control-messages>
                    </div>
                    <div [ngClass]="{'col-sm-6': isSignup,'pull-right': isSignup}">
                        <input placeholder="MM/YY" required maxlength="5" ngControl="expiry" [(ngModel)]="selectedCard.expiry"
                        />
                        <control-messages [control]="ccForm1.controls.expiry"></control-messages>
                    </div>
                </div>
            </form>
            <form [ngFormModel]="ccForm3" [hidden]="!isSignup">
                <div class="clearfix">
                    <div [ngClass]="{'col-sm-6': isSignup}">
                        <input placeholder="Cardholder first name" required ngControl="firstName" maxlength="30" [(ngModel)]="selectedCard.firstName"
                        />
                        <control-messages [control]="ccForm3.controls.firstName"></control-messages>
                    </div>
                    <div [ngClass]="{'col-sm-6': isSignup,'pull-right': isSignup}">
                        <input placeholder="Cardholder last name" required maxlength="30" ngControl="lastName" [(ngModel)]="selectedCard.lastName"
                        />
                        <control-messages [control]="ccForm3.controls.lastName"></control-messages>
                    </div>
                </div>
            </form>
            <div [ngClass]="{'col-sm-6': isSignup}">
                <button class="wpBtn" (click)="clickShow()">{{type}} card</button>
            </div>
            <div [hidden]="!isSignup" [ngClass]="{'col-sm-6': isSignup,'pull-right': isSignup}">
                <button class="wpBtn sec" (click)="hide()">I will do this later</button>
            </div>
        </div>
        <div [hidden]="!nameDiv">
            <form [ngFormModel]="ccForm2" class="clearfix" novalidate>
                <div (click)="nameDiv=false" class="backBtn">
                    <i class="fa fa-angle-left"></i>
                </div>
                <label class="inlineImp">{{getCardType(selectedCard.cardNo)}}-{{selectedCard.cardNo.substr(selectedCard.cardNo.length - 4)}}</label>
                <div class="clearfix">
                    <div [ngClass]="{'col-sm-6': isSignup}">
                        <input placeholder="Cardholder first name" required ngControl="firstName" maxlength="30" [(ngModel)]="selectedCard.firstName"
                        />
                        <control-messages [control]="ccForm2.controls.firstName"></control-messages>
                    </div>
                    <div [ngClass]="{'col-sm-6': isSignup,'pull-right': isSignup}">
                        <input placeholder="Cardholder last name" required maxlength="30" ngControl="lastName" [(ngModel)]="selectedCard.lastName"
                        />
                        <control-messages [control]="ccForm2.controls.lastName"></control-messages>
                    </div>
                </div>
                <div [ngClass]="{'col-sm-6': isSignup}">
                    <button class="wpBtn" (click)="click1()">{{type}} card</button>
                </div>
                <div [hidden]="!isSignup" [ngClass]="{'col-sm-6': isSignup,'pull-right': isSignup}">
                    <button class="wpBtn sec" (click)="hide()">I will do it later</button>
                </div>
            </form>
        </div>
    </div>
    <div [hidden]="!stepWait" class="wait">
        <label>Processing</label>
        <div class="arrow"></div>
        <span>Please Wait</span>
    </div>
    <div [hidden]="!step2" class="step2">
        <label>You successfully <span [hidden]="type!='Add'">added</span><span [hidden]="type=='Add'">updated</span> your card details.</label>
        <label>You can find it in your account as <span class="dark">{{selectedCard.type}}-{{selectedCard.cardNo.substr(selectedCard.cardNo.length - 4)}}</span></label>
        <button class="wpBtn" (click)="click2()"><span [hidden]="!isSignup">Continue</span><span [hidden]="isSignup">DONE</span></button>
    </div>
    <div [hidden]="!step3" class="step3">
        <label>REQUEST UNSUCCESSFUL!</label>
        <span>Your card with title {{selectedCard.type}}-{{selectedCard.cardNo.substr(selectedCard.cardNo.length - 4)}}  was declined.</span>
        <button [hidden]="!isSignup" class="wpBtn sec" (click)="hide()">I'll do it later</button>
    </div>
</div>