<div class="achContainer">
    <span class="header">ach</span>
    <div class="tableContainer col-xs-0"  [hidden]="achs.length==0">
            <div class="head clearfix">
                <div class="col col-md-2 col-sm-2 col-xs-0">
                    <label>Bank</label>
                </div>
                <div class="col col-md-3 col-sm-3 col-xs-8">
                    <label>Account Name</label>
                </div>
                <div class="col col-md-2  col-sm-3 col-xs-0 actNo">
                    <label>Account Number</label>
                </div>
                <div class="col col-md-2  col-sm-2 col-xs-0 rn">
                    <label>Routing Number</label>
                </div>
                <div class="col col-md-3  col-sm-2 col-xs-4 action">
                </div>
            </div>
            <div>
                <div class="rows clearfix" *ngFor="let ach of achs">
                    <div class="col col-md-2  col-sm-2  col-xs-8">
                        <span>{{ach.name}}</span>
                    </div>
                    <div class="col col-md-3  col-sm-3 col-xs-0">
                        <span>{{ach.bankName}}</span>
                    </div>
                    <div class="col col-md-2  col-sm-3 col-xs-0 actNo">
                        <span>**** **** **** {{ach.accNo.substr(ach.accNo.length - 4)}}</span>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-xs-0 rn">
                        <span>{{ach.routingNo}}</span>
                    </div>
                    <div class="col col-md-3  col-sm-2 col-xs-4 action">
                        <div class="iconSprite editIcon" (click)="editAch(ach)">
                            <object class="editObj" type="image/svg+xml" data="/images/svg/icon_edit.svg"></object>
                        </div>
                        <button class="btn btn-link linkBtn editBtn" (click)="editAch(ach)">Edit</button>
                        <div class="iconSprite deleteIcon" (click)="deleteAch(ach)">
                            <object class="delObj" type="image/svg+xml" data="/images/svg/icon_trash.svg"></object>
                        </div>
                        <button class="btn btn-link linkBtn deleteBtn" (click)="deleteAch(ach)">Delete</button>
                    </div>
                </div>
        </div>
    </div>
    <div [hidden]="achs.length==0" class="list col-sm-0">
        <div class="panel-group" id="accordionAch">
            <div class="panel panel-default outerCard" *ngFor="let ach of achs | slice:0:3 ;let i=index ">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div data-toggle="collapse" data-parent="#accordionAch" [attr.href]="'#btnSection' + ach.id">
                            <div class="box">
                                <div class="bankLogo">{{ach.bankName}}</div>
                                <span class="value"><span>**** **** **** </span>
                                <span>{{ach.accNo.substr(ach.accNo.length - 4)}}</span></span>
                            </div>
                        </div>
                    </h4>
                </div>
                <div class="panel-collapse collapse" [attr.id]="'btnSection' + ach.id">
                    <div class="panel-body">
                        <div class="layer">
                            <div class="iconSprite editIcon" (click)="editAch(ach)">
                                <object class="editObj" type="image/svg+xml" data="/images/svg/icon_edit.svg"></object>
                            </div>
                            <button class="btn btn-link linkBtn editBtn" (click)="editAch(ach)">Edit</button>
                            <div class="iconSprite deleteIcon" (click)="deleteAch(ach)">
                                <object class="delObj" type="image/svg+xml" data="/images/svg/icon_trash.svg"></object>
                            </div>
                            <button class="btn btn-link linkBtn deleteBtn" (click)="deleteAch(ach)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button Class="wpbtn addBtn" (click)="addAch();">Add ACH</button>
</div>