<div class="addBaContainer">
    <div [hidden]="!step1" class="step1">
        <label class="title">Enter Bank Account Details</label>
        <div>
            <form [ngFormModel]="baForm" novalidate>
                <div class="clearfix">
                    <div class="col-sm-6">
                        <input placeholder="Account Holder Name" ngControl="name" maxlength="30" required [(ngModel)]="selectedBank.name" />
                        <control-messages [control]="baForm.controls.name"></control-messages>
                    </div>

                    <div class="col-sm-6">
                        <input class="pull-right" placeholder="Routing Number" ngControl="routingNo" pattern="[0-9]{9}" maxlength="9" minlength="9"
                            required [(ngModel)]="selectedBank.routingNo" />
                        <control-messages [control]="baForm.controls.routingNo"></control-messages>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-6">
                        <input placeholder="Account Number" [(ngModel)]="selectedBank.accNo" ngControl="accNo" pattern="[0-9]{4,20}" minlength="4"
                            maxlength="20" required />
                        <control-messages [control]="baForm.controls.accNo"></control-messages>
                    </div>
                    <div class="col-sm-6">
                        <input class="pull-right" placeholder="IBAN" [(ngModel)]="selectedBank.ban" ngControl="ban" minlength="10" maxlength="30"
                        />
                        <control-messages [control]="baForm.controls.ban"></control-messages>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-6">
                        <input placeholder="Bank Name" maxlength="30" [(ngModel)]="selectedBank.bankName" ngControl="bankName" maxlength="30" required/>
                        <control-messages [control]="baForm.controls.bankName"></control-messages>
                    </div>
                    <div class="col-sm-6">
                        <input class="pull-right" placeholder="Bank Address" [(ngModel)]="selectedBank.address" ngControl="address" maxlength="30"
                            required/>
                        <control-messages [control]="baForm.controls.address"></control-messages>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-6">
                        <input placeholder="Bank City" maxlength="30" [(ngModel)]="selectedBank.city" ngControl="city" maxlength="30" required/>
                        <control-messages [control]="baForm.controls.city"></control-messages>
                    </div>
                    <div class="col-sm-6">
                        <!--<input class="pull-right" placeholder="BANK COUNTRY" [(ngModel)]="selectedBank.country" ngControl="country"
                            maxlength="30" required/>-->
                        <wp-country [selectCntry]="selectedBank.country" (statesListChanged)="getStateList($event)"></wp-country>
                        <div class="errorMsg">
                            <div *ngIf="selectedBank.country=='' && baForm.touched"><i class="fa fa-warning"></i>&nbsp;&nbsp;Required
                            </div>
                        </div>
                        <!--<control-messages [control]="baForm.controls.country"></control-messages>-->
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-6">
                        <!--<input placeholder="BANK STATE" maxlength="30" [(ngModel)]="selectedBank.state" ngControl="state" maxlength="30"
                            required/>-->

                        <select [(ngModel)]="selectedBank.state" ngControl="state" required><option *ngFor="let state of states" [ngValue]="state.stateId">{{state.stateName}}</option></select>
                        <control-messages [control]="baForm.controls.state"></control-messages>
                    </div>
                    <div class="col-sm-6"><input class="pull-right" placeholder="Swift Code" [(ngModel)]="selectedBank.code" ngControl="code" pattern="(.{8})$|^(.{11})"
                            maxlength="11" minlength="8" required/>
                        <control-messages [control]="baForm.controls.code"></control-messages>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-6"><input placeholder="Intermediary Bank Name" [(ngModel)]="selectedBank.ibn" ngControl="ibn" maxlength="20"
                        />
                        <control-messages [control]="baForm.controls.ibn"></control-messages>
                    </div>
                    <div class="col-sm-6"><input class="pull-right" placeholder="Intermediary Bank Swift" [(ngModel)]="selectedBank.ibs" ngControl="ibs"
                            pattern="(.{8})$|^(.{11})" minlength="8" maxlength="11" />
                        <control-messages [control]="baForm.controls.ibs"></control-messages>
                    </div>
                </div>
                <button class="wpBtn" (click)="click1()">{{type}} Bank Account</button>
            </form>
        </div>
    </div>
    <div [hidden]="!stepWait" class="wait">
        <label>Processing</label>
        <div class="arrow"></div>
        <span>Please Wait</span>
    </div>
    <div [hidden]="!step2" class="step2">
        <label>CONGRATULATION! BANK ACCOUNT <span [hidden]="type!='Add'">ADDED</span><span [hidden]="type=='Add'">UPDATED</span> SUCCESSFULLY</label>
        <button class="wpBtn
        " (click)="click2()">DONE</button>
    </div>
    <div [hidden]="!step3" class="step3">
        <label>REQUEST UNSUCCESSFUL!</label>
        <span>Your bank account with title {{selectedBank.bankName}}-{{selectedBank.accNo.substr(selectedBank.accNo.length - 4)}}  was declined.</span>
    </div>
</div>