<div class="addFundsContainer">
    <div [hidden]="!step1" class="step1">
        <label>{{name}}</label>
        <label class="title">Deposit Amount</label>
        <form [ngFormModel]="af1" novalidate>
            <span class="dollar">INR</span><input placeholder="Enter Amount" ngControl="amt" [(ngModel)]="amt" required maxlength="8"
                pattern="^(\d{1,5}\.{1}\d{1,2})$|^(\d{1,5})$" />
            <control-messages [control]="af1.controls.amt"></control-messages>
            <button class="wpBtn" (click)="click1()">Next</button>
        </form>
    </div>
    <div [hidden]="!step2" class="step2">
        <div (click)="step2=false;step1=true;" class="backBtn">
            <i class="fa fa-angle-left"></i>
        </div>
        <label class="title inlineImp">Deposit Methods</label>
        <button class="wpBtn sec" (click)="click2()">Add credit/debit card</button>
    </div>
    <div [hidden]="!step3" class="step3">
        <div (click)="step3=false;step1=true;" class="backBtn" [hidden]="merchantFlow">
            <i class="fa fa-angle-left"></i>
        </div>
        <label class="title inlineImp">Deposit Methods</label>
        <div [hidden]="cards.length==0" class="cards">
            <label class="subHeader">MY CREDIT CARDS</label>
            <!--<div class="cardBlock" [ngClass]="{big: cards.length>4}">-->
            <div class="cardBlock" [ngClass]="{scrollbox: cards.length>4}">
                <div *ngFor="let card of cards" (click)="clickCard(card)" class="card">
                    <div class="bankLogo">
                        <object *ngIf="card.type=='visa'" class="graycardObj" type="image/svg+xml" data="/images/gray-svg/icon_visa.svg"></object>
                        <object *ngIf="card.type=='master'" class="graycardObj" type="image/svg+xml" data="/images/gray-svg/icon_mastercard.svg"></object>
                        <object *ngIf="card.type=='amex'" class="graycardObj" type="image/svg+xml" data="/images/gray-svg/icon_amex.svg"></object>
                        <span *ngIf="card.type=='other'">{{card.type}}</span>
                    </div>
                    <span class="value"><span>**** **** **** </span>
                    <span>{{card.cardNo.substr(card.cardNo.length - 4)}}</span></span>
                </div>
            </div>
        </div>
        <div>
            <label class="subHeader sec">OTHER OPTIONS</label>
            <button class="wpBtn sec" (click)="click3()">Add credit/debit card</button>
        </div>
    </div>
    <div [hidden]="!step4" class="step4">
        <form [ngFormModel]="af2" novalidate>
            <div (click)="step4=false;step3=true;" class="backBtn">
                <i class="fa fa-angle-left"></i>
            </div>
            <label class="title inlineImp">Enter Card Details</label>
            <input placeholder="Card Number" pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|(?:5[1-5][0-9]{2}|222[1-9]|22[3-9][0-9]|2[3-6][0-9]{2}|27[01][0-9]|2720)[0-9]{12}|3[47][0-9]{13})$"
                required ngControl="cardNo" maxlength="19" [(ngModel)]="selectedCard.cardNo" />
            <div class="ccLogo">
                <object *ngIf="getCardType(selectedCard.cardNo)=='visa'" class="cardObj" type="image/svg+xml" data="/images/cc-svg/visa.svg"></object>
                <object *ngIf="getCardType(selectedCard.cardNo)=='master'" class="cardObj master" type="image/svg+xml" data="/images/cc-svg/mastercard.svg"></object>
                <object *ngIf="getCardType(selectedCard.cardNo)==='amex'" class="cardObj amex" type="image/svg+xml" data="/images/cc-svg/amex.svg"></object>
            </div>
            <control-messages [control]="af2.controls.cardNo"></control-messages>
            <button class="wpBtn" (click)="click4()">Deposit</button>
        </form>
    </div>
    <div [hidden]="!step5" class="step5">
        <div (click)="evalback()" class="backBtn">
            <i class="fa fa-angle-left"></i>
        </div>
        <label class="title inlineImp">Enter Card Details</label>
        <div [hidden]="nameDiv">
            <form [ngFormModel]="ccForm1" novalidate>
                <span class="cardNoReadOnly">{{selectedCard.cardNo.substr(0, 4) + "XXXXX" + selectedCard.cardNo.substr(selectedCard.cardNo.length - 4)}}</span>
                <input placeholder="Card Number" class="cardNoHidden" required ngControl="cardNo" minlength="13" maxlength="19" [(ngModel)]="selectedCard.cardNo"
                    readonly="true" />
                <div class="ccLogo">
                    <object *ngIf="getCardType(selectedCard.cardNo)=='visa'" class="cardObj" type="image/svg+xml" data="/images/cc-svg/visa.svg"></object>
                    <object *ngIf="getCardType(selectedCard.cardNo)=='master'" class="cardObj master" type="image/svg+xml" data="/images/cc-svg/mastercard.svg"></object>
                    <object *ngIf="getCardType(selectedCard.cardNo)==='amex'" class="cardObj amex" type="image/svg+xml" data="/images/cc-svg/amex.svg"></object>
                </div>
                <control-messages [control]="ccForm1.controls.cardNo"></control-messages>
                <input placeholder="MM/YY" required maxlength="5"  ngControl="expiry" [(ngModel)]="selectedCard.expiry"
                    [readonly]="selectedCard.id != null" />
                <!--<div class="errorMsg">
                    <div *ngIf="oldDate()"><i class="fa fa-warning"></i>&nbsp;&nbsp;Expiry date cannot be past date.
                    </div>
                </div>-->
                <control-messages [control]="ccForm1.controls.expiry"></control-messages>
                <input placeholder="CVV" required maxlength="4" ngControl="cvv" [(ngModel)]="selectedCard.cvv" type="password" />
                <control-messages [control]="ccForm1.controls.cvv"></control-messages>
                <button class="wpBtn" (click)="clickShow()">Deposit</button>
            </form>
        </div>
        <div [hidden]="!nameDiv">
            <!--<div (click)="nameDiv=false" class="backBtn">
                <i class="fa fa-angle-left"></i>
            </div>-->
            <label class="inlineImp cardName">{{getCardType(selectedCard.cardNo)}}-{{selectedCard.cardNo.substr(selectedCard.cardNo.length - 4)}}</label>
            <form [ngFormModel]="ccForm2" novalidate>
                <input placeholder="First Name" required ngControl="firstName" maxlength="30" [(ngModel)]="selectedCard.firstName" />
                <control-messages [control]="ccForm2.controls.firstName"></control-messages>
                <input placeholder="Last Name" required maxlength="30" ngControl="lastName" [(ngModel)]="selectedCard.lastName" />
                <control-messages [control]="ccForm2.controls.lastName"></control-messages>
                <button class="wpBtn" (click)="click5()">Deposit</button>
            </form>
        </div>
    </div>
    <div [hidden]="!stepWait" class="wait">
        <label>Processing Transaction</label>
        <div class="arrow"></div>
        <span>Please Wait</span>
    </div>
    <div [hidden]="!step6" class="step6">
        <label>CONGRATULATION!TRANSACTION SUCCESSFUL</label>
        <button class="wpBtn" (click)="click6()">DONE</button>
    </div>
    <div [hidden]="!step7" class="step7">
        <label>DEPOSIT UNSUCCESSFUL!</label>
        <span>Your credit card with title <span class="dark">{{selectedCard.type}}-{{selectedCard.cardNo.substr(selectedCard.cardNo.length - 4)}}</span>  was declined.</span>
        <span [hidden]="!merchantFlow">You will be redirected in next 10 seconds</span>
    </div>
</div>