<div class="addressContainer">
    <span class="header">address</span>
    <div class="boxContent">
        <span>{{address}}</span>
        <span>{{city}},{{state}}</span>
        <span>{{country}}-{{zip}}</span>
        <textarea rows="1"></textarea>
        <button (click)="updateAddress()" class="wpBtn">Update address</button>
    </div>
</div>