<div class="activityContainer">
    <div>
    <label class="pageHeader">transactions</label>
    <span class="filter col-xs-0">filter &nbsp;&nbsp;
        <span data-toggle="collapse" data-target="#filterSection" (click)="showFilters=!showFilters">
            <object class="filterObj" type="image/svg+xml"  data="/images/svg/icon_filter.svg"></object>
        </span>
    </span>
    </div>
    <div class="collapse" id="filterSection">
        <div class="clearfix filterColl" [hidden]="!showFilters">
            <div class="clearfix">
                <div class="inputBox searchBox filterDiv col-sm-3">
                    <label>Transaction Id</label>
                    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="txnId">
                    <button type="button" class="btn btn-default" (click)="getDetailsById()"><span class="glyphicon glyphicon-search"></span></button>
                </div>
                <div class="DD typeDD inputBox filterDiv col-sm-3">
                    <label>Type</label>
                    <select id="type" name="type" class="typeDropdown form-control" (change)="start=0;" [(ngModel)]="selectedType">
                        <option value="All">All</option>
                        <option value="ma">Money Added</option>
                        <option value="mw">Money Withdrawn</option>
                        <option value="pr">Payment Received</option>
                        <option value="ps">Payment Sent</option>
            </select>
                </div>
                <div class="DD statusDD inputBox filterDiv col-sm-3">
                    <label>Status</label>
                    <select id="status" name="status" class="statusDropdown form-control" (change)="start=0;" [(ngModel)]="selectedStatus">
                        <option value="All">All</option>
                        <option value="A">Approved</option>
                        <option value="R">Rejected</option>
                        <option value="P">Pending</option>
            </select>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="DD rangeDD inputBox filterDiv col-sm-3">
                <label>Date Range</label>
                <select id="range" name="range" class="rangeDropdown form-control" [(ngModel)]="selectedRange" (ngModelChange)="changeRange($event)">
                <option value="Custom">Custom</option>
                <option value="month">Last Month</option>
                <option value="nintydays">Last 90 Days</option>
                <option value="year">Last Year</option>
            </select>
            </div>
            <div class="filterDiv col-sm-3" [hidden]="!(selectedRange=='Custom')">
                <label>From</label>
                <p-calendar [(ngModel)]="startDate" (onSelect)="endDate=null"  dateFormat="mm/dd/yy" maxDate="+0d" showAnim="slideDown" [showIcon]="true"></p-calendar>
            </div>
            <div class="filterDiv col-sm-3" [hidden]="!(selectedRange=='Custom')">
                <label>To</label>
                <div>
                    <p-calendar [(ngModel)]="endDate"  dateFormat="mm/dd/yy" maxDate="+0d" minDate="{{startDate}}" showAnim="slideDown" [showIcon]="true"></p-calendar>
                </div>
                <!--<div [hidden]="startDate!=null">
                    <p-calendar [(ngModel)]="endDate" [showIcon]="true" disabled="true"></p-calendar>
                </div>-->
            </div>
            
            <div class="filterDiv col-sm-3">
                <button class="filterBtn" (click)="filterClick()">Filters</button>
            </div>
        </div>
    </div>
    <div [hidden]="records>0" class="norecords col-xs-0">
        <label>No records found</label>
    </div>
    <div class="tableContainer" [ngClass]="{'hideTable':showFilters}" [hidden]="tempActivities().length==0 && linkSize>3" >
        <div class="head clearfix col-xs-0">
            <div class="col col-sm-3">
                <label>Type</label>
            </div>
            <div class="col col-sm-2">
                <label>Created Date</label>
            </div>
            <div class="col col-sm-2">
                <label>Transaction ID</label>
            </div>
            <div class="col col-sm-1">
                <label>Credit</label>
            </div>
            <div class="col col-sm-1">
                <label>Debit</label>
            </div>
            <div class="col col-sm-1">
                <label>Balance</label>
            </div>
            <div class="col col-sm-2">
                <label>Status</label>
            </div>
        </div>
        <div class="head clearfix col-sm-0">
            <div class="col col-xs-12">
                <label>transactions</label>
                <span class="filter"  (click)="showFilters=!showFilters">filter &nbsp;&nbsp;
                    <object class="filterObj" type="image/svg+xml" data="/images/svg/icon_filter.svg"></object>
                    <!--<span class="glyphicon glyphicon-align-right" ></span>-->
                    </span>
            </div>
        </div>
        <div class="rows col-sm-0 clearfix" [hidden]="records>0">
            <label>No records found</label>
        </div>
        <div class="rows col-sm-0 clearfix" [ngClass]="{'rejected':act.status=='Pending'}" *ngFor="let act of (tempActivities())">
            <div class="col col-xs-8 details">
                <span class="date">{{act.createdTime | date: 'dd'}} {{act.createdTime | date:'MMM'}}</span>
                <span class="type">{{act.txnType}}</span>
            </div>
            <div class="col col-xs-4 amount" [ngClass]="{'debit':act.txnKind=='db'}">
                <span>
                    <span [hidden]="act.txnKind=='cr'">-</span>
                <span>INR{{act.amount/100}}</span>
                </span>
            </div>
        </div>
        <div class="rows clearfix col-xs-0" [ngClass]="{'details':act.showDetails,'pending':act.status=='Pending'}" *ngFor="let act of (tempActivities())">
            <div (click)="getDetails(act)" class="basicContainer clearfix">
                <div class="col col-sm-3 type">
                    <span>{{act.txnType}}</span>
                </div>
                <div class="col col-sm-2">
                    {{act.createdTime | date: 'dd'}}-{{act.createdTime | date:'MMM'}}-{{act.createdTime | date: 'yyyy'}}
                </div>
                <div class="col col-sm-2">
                    {{act.wltTxnId}}
                </div>
                <div class="col col-sm-1">
                    <span [hidden]="(act.txnKind=='db')"> {{act.amount/100 }}</span>
                </div>
                <div class="col col-sm-1 debit">
                    <span [hidden]="(act.txnKind=='cr')">-{{act.amount/100 }}</span>
                </div>
                <div class="col col-sm-1 balance">
                    {{act.newBalance/100}}
                </div>
                <div class="col col-sm-2 status" [ngClass]="{'approved':act.status=='Approved','rejected':act.status=='Rejected','pending':act.status=='Pending'}">
                    <div [hidden]="act.status!='Pending'" class="icon outer"><div class="icon inner"></div></div>
                    <span [hidden]="act.status!='Approved'">
                        <object class="checkObj" type="image/svg+xml" data="/images/svg/icon_check.svg"></object>
                        <!--<i class="fa fa-check" aria-hidden="true"></i>-->
                        </span><span [hidden]="act.status!='Rejected'">
                            <object class="rejectObj" type="image/svg+xml" data="/images/svg/icon_close.svg"></object>
                        </span>&nbsp;{{act.status}}
                    <!--&#10003;-->
                </div>
            </div>
            
            <div [hidden]="!act.showDetails" class="detailsContainer clearfix">
                <div class="col-sm-4">
                    <div class="col-sm-6"><span class="heading">Transaction Id</span></div>
                    <div class="col-sm-6">{{act.wltTxnId}}</div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    <div class="col-sm-6"><span class="heading">Date</span></div>
                    <div class="col-sm-6"><span> {{act.createdTime | date: 'dd'}}-{{act.createdTime | date:'MMM'}}-{{act.createdTime | date: 'yyyy'}}</span></div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <div class="col-sm-6"><span class="heading">Amount</span></div>
                    <div class="col-sm-6"><span>INR{{act.amount/100}}</span></div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    <div class="col-sm-6"><span class="heading">Payment Instrument</span></div>
                    <div class="col-sm-6"><span>{{act.instrument}}</span></div>
                </div>
                <div class="col-sm-1"></div>
                
                <div class="col-sm-4" [hidden]="!((act.txnKind=='db') && act.product=='cashier')">
                    <div class="col-sm-6"><span class="heading">Tracking Number</span></div>
                    <div class="col-sm-6"><span>TN87213678326</span></div>
                </div>
                <div class="col-sm-1" [hidden]="!((act.txnKind=='db') && act.product=='cashier')"></div>
                <div class="col-sm-6" [hidden]="!((act.txnKind=='db') && act.product=='cashier')">
                    <div class="col-sm-6"><span class="heading">Delivery</span></div>
                    <div class="col-sm-6"><span>Regular</span></div>
                </div>
                <div class="col-sm-4" [hidden]="act.product!='cashier'">
                    <div class="col-sm-6"><span class="heading">Descriptor</span></div>
                    <div class="col-sm-6"><span>RokaPay</span></div>
                </div>
                <div class="col-sm-1" [hidden]="act.product=='cashier'"></div>
            </div>
        </div>
        <div *ngIf="records>0" [hidden]="isDashboard">
            <p-paginator rows="{{rows}}" first="{{start}}" totalRecords="{{records}}" pageLinkSize="{{linkSize}}" (onPageChange)="paginate($event)"></p-paginator>
        </div>
        <div [hidden]="!isDashboard" class="btnDiv">
            <button class="wpBtn"><a [routerLink]="['/mainPage/activity']">View all activities</a></button>
        </div>
    </div>
</div>