<div class="baContainer">
    <span class="header">bank accounts</span>
    <div class="boxContent" [hidden]="banks.length>0">
        <p><span>When you</span>
            <span class="green">add your bank account</span>
            <span>you can withdraw funds</span>
            <span> from your wallet.</span>
        </p>
        <button class="wpBtn" (click)="addBank()">Add a bank account</button>
    </div>
    <div [hidden]="banks.length==0" class="list">
        <div class="panel-group" id="accordionBank">
            <div class="panel panel-default outerCard" *ngFor="let bank of banks | slice:0:3 ;let i=index ">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div data-toggle="collapse" data-parent="#accordionBank" [attr.href]="'#btnSection' + bank.id">
                            <div class="box">
                                <div class="bankLogo">{{bank.bankName}}</div>
                                <span class="value"><span>**** **** **** </span>
                                <span>{{bank.accNo.substr(bank.accNo.length - 4)}}</span></span>
                            </div>
                        </div>
                    </h4>
                </div>
                <div class="panel-collapse collapse" [attr.id]="'btnSection' + bank.id">
                    <div class="panel-body">
                        <div class="layer">
                            <div class="iconSprite editIcon" (click)="editBank(bank)">
                                <object class="editObj" type="image/svg+xml" data="/images/svg/icon_edit.svg"></object>
                            </div>
                            <button class="btn btn-link linkBtn editBtn" (click)="editBank(bank)">Edit</button>
                            <div  class="iconSprite deleteIcon" (click)="deleteBank(bank)">
                                <object class="delObj" type="image/svg+xml" data="/images/svg/icon_trash.svg"></object>
                            </div>
                            <button class="btn btn-link linkBtn deleteBtn" (click)="deleteBank(bank)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="box" *ngFor="let bank of banks">
            <div class="bankLogo">{{bank.bankName}}</div>
            <span class="value"><span>**** **** **** </span>
            <span>{{bank.accNo.substr(bank.accNo.length - 4)}}</span></span>
        </div>-->
        <button class="wpBtn" (click)="addBank()">Add a bank account</button>
    </div>
</div>