<div class="ccContainer">
    <span class="header">cards</span>
    <div class="boxContent" [hidden]="cards.length>0">
        <p><span>When you</span>
            <span class="green">add your credit / debit card</span>
            <span>you can add funds</span>
            <span> to your wallet.</span>
        </p>
        <button class="wpBtn" (click)="addCc()">Add a Credit/Debit Card</button>
    </div>
    <div [hidden]="cards.length==0" class="list">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default outerCard" *ngFor="let card of cards | slice:0:3 ;let i=index ">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div data-toggle="collapse" data-parent="#accordion" [attr.href]="'#btnSection' + card.id">
                            <div class="box">
                                <div class="bankLogo">
                                    <object *ngIf="card.type=='visa'" class="cardObj" type="image/svg+xml" data="/images/cc-svg/visa.svg"></object>
                                    <object *ngIf="card.type=='master'" class="cardObj master" type="image/svg+xml" data="/images/cc-svg/mastercard.svg"></object>
                                    <object *ngIf="card.type=='amex'" class="cardObj amex" type="image/svg+xml" data="/images/cc-svg/amex.svg"></object>
                                    <span *ngIf="card.type=='other'">{{card.type}}</span>
                                </div>
                                <span class="value"><span>**** **** **** </span>
                                <span>{{card.cardNo.substr(card.cardNo.length - 4)}}</span></span>
                            </div>
                        </div>
                    </h4>
                </div>
                <div class="panel-collapse collapse" [attr.id]="'btnSection' + card.id">
                    <div class="panel-body">
                        <div class="layer">
                            <div class="iconSprite editIcon" (click)="editCard(card)">
                                <object class="editObj" type="image/svg+xml" data="/images/svg/icon_edit.svg"></object>
                            </div>
                            <button class="btn btn-link linkBtn editBtn" (click)="editCard(card)">Edit</button>
                            <div class="iconSprite deleteIcon" (click)="deleteCard(card)">
                                <object class="delObj" type="image/svg+xml" data="/images/svg/icon_trash.svg"></object>
                            </div>
                            <button class="btn btn-link linkBtn deleteBtn" (click)="deleteCard(card)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="wpBtn" (click)="addCc()">Add a Credit/Debit Card</button>
    </div>
</div>