<div class="contactContainer clearfix">
    <label class="pageHeader">contact us</label>
    <div class="col col-sm-6">
        <div class="box">
            <form *ngIf="!isResetting" [ngFormModel]="contactForm" novalidate>
                <input type="email" placeholder="E-MAIL" ngControl="email" [(ngModel)]="email" required maxlength="30" />
                <control-messages [control]="contactForm.controls.email"></control-messages>
                <textarea placeholder="Please fill in your inquiry" ngControl="msg" maxlength="150" rows="1" (keyup)="autoSize($event)" [(ngModel)]="msg" required></textarea>
                <control-messages [control]="contactForm.controls.msg"></control-messages>
            </form>
            <button class="wpBtn" (click)="sendMsg()">Send message</button>
            <div class="alert  alert-success" [hidden]="!success">
                <strong>Thank You!</strong> for contacting us!
                <p>We will get in touch with you shortly.</p>
            </div>
            <div class="alert  alert-danger" [hidden]="!failure">
                <strong>Sorry!</strong> Request Failed!
            </div>
        </div>
    </div>
    <div class="col col-sm-6">
        <div class="writing col-xs-0">
            <label>We're always the best choice!</label>
            <span>Please contact us using the contact form</span>
            <span>or the details below and we'll reply right away!</span>
        </div>
        <div class="infoDiv">
            <div class="col-sm-0">
                <span>EMAIL:</span>
                <label>info@rokapay.com</label>
            </div>
            <div class="col-xs-0">
                <!--<i class="fa fa-envelope" aria-hidden="true"></i>-->
                <object class="mailObj" type="image/svg+xml" data="/images/svg/icon_mail.svg"></object>
                 &nbsp;&nbsp;&nbsp;&nbsp;info@rokapay.com
            </div>
            <div class="col-sm-0">
                <span>TELEPHONE:</span>
                <label>+91 8447588863</label>
            </div>
            <div class="col-xs-0">
                <!--<i class="fa fa-phone" aria-hidden="true"></i>-->
                <object class="phoneObj" type="image/svg+xml" data="/images/svg/icon_phone.svg"></object>
                 &nbsp;&nbsp;&nbsp;&nbsp;+91 8447588863
            </div>
        </div>
        <div class="timeDiv">
            <span>24/7 Support Available / Monday - Sunday</span>
        </div>
    </div>

</div>