<div class="checkContainer">
    <span class="header">paperCheck</span>
    <div   [hidden]="checks.length==0" class="tableContainer col-xs-0">
            <div class="head clearfix">
                <div class="col col-md-2 col-sm-2 col-xs-0">
                    <label>Address</label>
                </div>
                <div class="col col-md-2 col-sm-2 col-xs-8">
                    <label>City</label>
                </div>
                <div class="col col-md-2  col-sm-2 col-xs-0 actNo">
                    <label>State</label>
                </div>
                <div class="col col-md-2  col-sm-2 col-xs-0 rn">
                    <label>Country</label>
                </div>
                <div class="col col-md-1  col-sm-1 col-xs-0 rn">
                    <label>Zip code</label>
                </div>
                <div class="col col-md-3  col-sm-3 col-xs-4 action">
                </div>
            </div>
            <div>
                <div class="rows clearfix" *ngFor="let check of checks">
                    <div class="col col-md-2  col-sm-2  col-xs-8">
                        <span>{{check.address}}</span>
                    </div>
                    <div class="col col-md-2  col-sm-2 col-xs-0">
                        
                        <span>{{check.city}}</span>
                    </div>                    
                    <div class="col col-md-2 col-sm-2 col-xs-0">
                        <span>{{check.stateName}}</span>
                    </div>
                    <div class="col col-md-2 col-sm-2 col-xs-0">
                        <span>{{check.countryName}}</span>
                    </div>
                    <div class="col col-md-1 col-sm-1 col-xs-0">
                        <span>{{check.zip}}</span>
                    </div>
                    <div class="col col col-md-3  col-sm-3 col-xs-4 action">
                        <div class="iconSprite editIcon" (click)="editCheck(check)">
                            <object class="editObj" type="image/svg+xml" data="/images/svg/icon_edit.svg"></object>
                        </div>
                        <button class="btn btn-link linkBtn editBtn" (click)="editCheck(check)">Edit</button>
                        <div class="iconSprite deleteIcon" (click)="deleteCheck(check)">
                            <object class="delObj" type="image/svg+xml" data="/images/svg/icon_trash.svg"></object>
                        </div>
                        <button class="btn btn-link linkBtn deleteBtn" (click)="deleteCheck(check)">Delete</button>
                    </div>
                </div>
        </div>
    </div>
    <div [hidden]="checks.length==0" class="list col-sm-0">
        <div class="panel-group" id="accordionChk">
            <div class="panel panel-default outerCard" *ngFor="let check of checks | slice:0:3 ;let i=index ">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div data-toggle="collapse" data-parent="#accordionChk" [attr.href]="'#btnSection' + check.id">
                            <div class="box">
                                <div class="bankLogo">{{check.address}}</div>
                                <span class="value">
                                <span>{{check.zip}}</span></span>
                            </div>
                        </div>
                    </h4>
                </div>
                <div class="panel-collapse collapse" [attr.id]="'btnSection' + check.id">
                    <div class="panel-body">
                        <div class="layer">
                            <div class="iconSprite editIcon" (click)="editCheck(check)">
                                <object class="editObj" type="image/svg+xml" data="/images/svg/icon_edit.svg"></object>
                            </div>
                            <button class="btn btn-link linkBtn editBtn" (click)="editCheck(check)">Edit</button>
                            <div class="iconSprite deleteIcon" (click)="deleteCheck(check)">
                                <object class="delObj" type="image/svg+xml" data="/images/svg/icon_trash.svg"></object>
                            </div>
                            <button class="btn btn-link linkBtn deleteBtn" (click)="deleteCheck(check)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button [hidden]="checks.length>0" Class="wpbtn addBtn" (click)="addCheck();">Add PaperCheck</button>
</div>