<div class="confirmPaymentContainer">
    <div class="paymentDiv">
        <div class="logo logo--login"></div>
        <div [hidden]="!payment">
            <div class="amtDiv">
                <span>Balance</span>
                <span class="pull-right">{{balance}}</span>
            </div>
            <p class="confirmText">Please confirm your payment below.</p>
            <p>Your payment is ready to be processed.</p>
            <p>Please double check below details and confirm your payment.</p>
            <div class="tranDetail clearfix">
                <div class="col-md-6 lbltxt">
                    <label>Account</label>
                    <label>Email</label>
                    <label>Amount to Debit</label>
                    <label>Reference Id</label>
                    <label>Date</label>
                </div>
                <div class="col-md-6 valuetxt">
                    <label>{{userName}}</label>
                    <label>{{userEmail}}</label>
                    <label>{{amount}}</label>
                    <label>{{txn_id}}</label>
                    <label>{{time | date: 'dd'}}-{{time | date: 'MM'}}-{{time | date: 'yyyy'}}</label>
                </div>
            </div>
            <button (click)="pay()">Pay Now</button>
        </div>
        <div [hidden]="!paymentFailed">
            <div class="failedDiv">Please try agian later</div>
            <div class="alert alert-danger">
                <strong>Transaction Failed!</strong> Your payment can't be completed.
                <p>You are now being redirected to {{merchantName}}</p>
                <p>if you are not redirected with 10 seconds <a (click)="redirectFailure()">Click here</a></p>
            </div>
        </div>
        <div [hidden]="!paymentSuccessful">
            <div class="successDiv">Thank You.</div>
            <div class="alert alert-success">
                <strong>Payment Successful!</strong> Your payment for {{amount}} has been completed.
                <p>You are now being redirected to showSite.com</p>
                <p>if you are not redirected with 10 seconds <a (click)="redirectSuccess()">Click here</a></p>
            </div>
        </div>
    </div>
</div>