<div class="overlayContainer">
    <div class="middle">
        <div class="popup">
            <div class="head">
                <span>add funds</span>
            </div>
            <div class="box clearfix">
                <div>
                    <wp-add-funds></wp-add-funds>
                </div>
            </div>
        </div>
    </div>
</div>