<div class="dashboardContainer">
    <div class="clearfix">
        <wp-money></wp-money>
        <wp-ba></wp-ba>
        <wp-cc></wp-cc>
    </div>
    <div class="activity">
        <span class="header">recent transactions</span>
        <wp-activity [isDashboard]="true"></wp-activity>
    </div>
    
</div>
