<div class="loginContainer">
    <div class="useless"></div>
    <div class="middle">
        <div class="ttLogin">
            <div class="logo logo--login"></div>
            <div *ngIf="activeIndex==1">
                <span class="loginLabel"> <span class="first">Login</span><span> to your account</span></span>
                <form [ngFormModel]="loginForm" novalidate>
                    <input type="email" ngControl="email" maxlength="80" class="form-control" [(ngModel)]="email" name="email" placeholder="Email Address"
                        required/>
                    <control-messages [control]="loginForm.controls.email"></control-messages>
                    <input type="password" ngControl="pswd" maxlength="20" class="form-control" placeholder="Password" [(ngModel)]="password"
                        name="password" required/>
                    <control-messages [control]="loginForm.controls.pswd"></control-messages>
                    <button type="submit" class="wpBtn" (click)="logIn()">Login</button>
                    <div class="alert alert-danger" *ngIf="failure">
                        <strong>Sorry!</strong> Login Failed.
                    </div>
                    <div class="alert alert-danger" *ngIf="blocked">
                        Incorrect email/password. Please click Forgot Password.
                    </div>
                </form>
                <button type="button" class="wpBtn sec" (click)="activeIndex=2;pswdIndex=1;">Forgot password?</button>
            </div>
            <div *ngIf="activeIndex==2">
                <span class="loginLabel" [hidden]="pswdIndex==0"> <span>Forgot</span><span class="first"> password?</span></span>
                <div [hidden]="pswdIndex!=1">
                    <form [ngFormModel]="pswdForm" novalidate>
                        <span class="pswdTxt">Enter the email you use to sign in to your RokaPay account:</span>
                        <input type="email" ngControl="email" maxlength="80" class="form-control" [(ngModel)]="pswdEmail" name="email" placeholder="Email Address"
                            required/>
                        <control-messages [control]="pswdForm.controls.email"></control-messages>
                        <button type="submit" class="wpBtn" (click)="next()">Next</button>
                        <div class="alert alert-danger" *ngIf="pswdFailure">
                            <strong>Sorry!</strong> Request Failed.
                        </div>
                    </form>
                </div>
                <div [hidden]="pswdIndex!=0" class="wait">
                    <div class="arrow"></div>
                    <span>Please Wait</span>
                </div>
                <div [hidden]="pswdIndex!=2">
                    <p  class="pswdTxt">Please check your email. Click on the link we just sent you in order to change your password.</p>
                    <span  class="pswdTxt">You haven't received the link?</span>
                    <button type="submit" class="wpBtn" (click)="next()">Send the link again</button>
                </div>
                <button  [hidden]="pswdIndex==0" type="button" class="wpBtn sec" (click)="reset()">Back to login</button>
            </div>
            <div class="create" [hidden]="pswdIndex==2||pswdIndex==0">
                <span>New to rokapay? </span><a (click)="signUp()"> Create account</a>
            </div>
        </div>

    </div>
</div>