<div class="moneyContainer">
    <span class="header">balance</span>
    <div class="boxContent">
        <span>Available</span>
        <span class="balance">INR  {{balance}}</span>
        <span>Currencies</span>
        <span class="balance">INR  {{balance}}</span>
        <div class="btnDiv">
            <button (click)="withdrawFunds()" class="wpBtn sec">Withdraw Funds</button>            
            <button (click)="sendFunds()" class="wpBtn sec">Send Funds</button>
            <button (click)="addFunds()" class="wpBtn">Add Funds</button>
        </div>
    </div>
</div>