<div class="optionsContainer">
    <span class="header">account options</span>
    <div class="boxContent" [ngClass]="{'msg':success || failure}">
        <div [hidden]="!success">
            <div class="alert alert-success">
                Your inquiry will be sent to our RokaPay Support Team which will get in touch with you to confirm this action. If there
                is anything we can help you with, please <a href="/mainPage/contact">Contact us</a>.
            </div>
        </div>
        <div [hidden]="!failure">
            <div class="alert alert-danger">
                <strong>Sorry!</strong> Request Failed.
            </div>
        </div>
        <button (click)="closeAccount()" class="wpBtn sec">Close your account</button>
        <button (click)="updatePassword()" class="wpBtn">Update password</button>
    </div>
</div>