<div class="overlayContainer" *ngIf="overlay.show">
    <div class="middle">
        <div class="popup" [ngClass]="{big:overlay.big}">
            <div class="head">
                <span>{{overlay.header}}</span>
                <span class="glyphicon glyphicon-remove" (click)="close()"></span>
            </div>
            <div class="box clearfix">
                <div *ngIf="overlay.addFunds">
                    <wp-add-funds></wp-add-funds>
                </div>
                <div *ngIf="overlay.sendFunds">
                    <wp-send-funds></wp-send-funds>
                </div>
                <div *ngIf="overlay.withdrawFunds">
                    <wp-withdraw-funds></wp-withdraw-funds>
                </div>
                <div *ngIf="overlay.addCc">
                    <wp-add-cc></wp-add-cc>
                </div>
                <div *ngIf="overlay.addBa">
                    <wp-add-ba></wp-add-ba>
                </div>
                <div *ngIf="overlay.addAch">
                    <wp-add-ach></wp-add-ach>
                </div>
                <div *ngIf="overlay.addCheck">
                    <wp-add-check></wp-add-check>
                </div>
                <div *ngIf="overlay.updatePhone">
                    <wp-update-phone></wp-update-phone>
                </div>
                <div *ngIf="overlay.updateAddress">
                    <wp-update-address></wp-update-address>
                </div>
                <div *ngIf="overlay.updatePassword">
                    <wp-update-password></wp-update-password>
                </div>
            </div>
        </div>
    </div>
</div>