<div class="profileContainer">
    <span class="header">profile</span>
    <div class="boxContent">
        <label>NAME</label>
        <input placeholder="Enter Name" readonly="true" class="form-control" [(ngModel)]="name" />
        <label>Email</label>
        <input placeholder="Email" title="{{email}}" readonly="true" class="form-control emailBox" [ngClass]="{verified:isVerified}" [(ngModel)]="email" />
        <a class="verify" [hidden]="isVerified" (click)="verifyEmailAddress()">Verify</a>
        <span [hidden]="!success" class="success">A verification email has been sent to {{email}}.</span>
        <span [hidden]="!failure" class="failed">Verification Failed. Please try again later.</span>
        <label>Phone</label>
        <input placeholder="Phone Number" readonly="true" class="form-control" [(ngModel)]="phone" />
        <button (click)="updateProfile()" class="wpBtn">Update</button>
    </div>
</div>