<div class="privacyContainer">
    <div class="headerDiv">
        <div class="logo"></div>
    </div>
    <label class="privacyLabel">Privacy Policy for RokaPay account</label>
    <label class="jump">Jump to section: </label>
    <ul class="index">
        <li><a pageScroll href="#section1">1. OVERVIEW</a></li>
        <li><a pageScroll href="#section2">2. HOW, WHEN AND WHAT WE COLLECT?</a></li>
        <li><a pageScroll href="#section3">3. HOW WE USE THE INFORMATION WE COLLECT</a></li>
        <li><a pageScroll href="#section4">4. WHEN DO WE SHARE YOUR INFORMATION?</a></li>
        <li><a pageScroll href="#section5">5. HOW AND WHY WE SHARE YOUR INFORMATION:</a></li>
        <li><a pageScroll href="#section6">6. WHERE WE STORE YOUR DATA</a></li>
        <li><a pageScroll href="#section7">7. OUR USE OF COOKIES AND OTHER TRACKING MECHANISMS</a></li>
        <li><a pageScroll href="#section8">8. THIRD PARTY ANALYTICS</a></li>
        <li><a pageScroll href="#section9">9. THIRD-PARTY AD NETWORKS</a></li>
        <li><a pageScroll href="#section10">10. CHANGES TO OUR PRIVACY &amp; COOKIE POLICY</a></li>
        <li><a pageScroll href="#section11">11. CONTACT US, QUESTIONS, UPDATING YOUR INFO, OPTING OUT</a></li>
        <li><a pageScroll href="#section12">12. DISCLAIMER</a></li>
    </ul>
    <!--<div class="section1">
    <label>OVERVIEW</label>
    <p>In order to operate the RokaPay Services and to reduce the risk of fraud, RokaPay must ask you to provide us with
        information about yourself, including your credit or debit card and/or bank account details. This Privacy Policy
        relates to RokaPay (“us” “our” or “we).</p>
    <p>This Privacy Policy explains how we collect store and use your personal information when you visit this website. It also
        describes the types of personal information we collect, and how we use this information to ensure we provide relevant
        and timely services to you, and to improve your experience of the website. It also sets your rights to the control
        of our use of this information.</p>
    <p>
        By continuing to use this website, you confirm that you have read, understood and agreed to this Privacy Policy and consent
        to us using your personal information as described. If you are at all uncertain about any aspect of this Privacy
        Policy, please contact us using contact details below and refrain from using the website.
    </p>
    <p>
        We will not sell or rent your information to third parties for their marketing purposes without your explicit consent. However,
        in order for us to offer RokaPay Services to our users; enhance the quality of RokaPay Services from time to
        time; and protect the interests of our users, we will in limited circumstances share some of your information with
        third parties under strict restrictions, as described in more detail in this Privacy Policy.
    </p>
</div>
<div class="section2">
    <label>HOW, WHEN AND WHAT WE COLLECT?</label>

    <p><strong>How</strong> does RokaPay collect my information?</p>
    <p>We collect information directly from you, about you from third parties, and automatically as you use our Website and
        the Services.</p>
    <p><strong>Required Information:</strong> To open a RokaPay account or use the RokaPay Services, you must provide
        your name, address, phone number, and email address. In order to make payments through the RokaPay Services, you
        must provide credit card, debit card or bank account information. We also ask you to choose security questions to
        answer (such as your city of birth or your pet's name).
    </p>
    <p><strong>When</strong> does RokaPay collect my information?</p>
    <ul>
        <li>When you apply for and use our Services, you contact us with questions, and you otherwise choose to provide information
            to us.</li>
        <li>We receive information about you from banking references, credit reporting agencies, affiliates, other RokaPay
            users if they provide us your name through our referral programs, and other third parties (e.g., entities that
            assist us in validating your identity, among others). We may combine this with other information that we collect
            about you.</li>
        <li>We, and our third party service providers, automatically collect the following information about your use of our
            Website and our online Services through cookies, web beacons, log files and other technologies: your domain name,
            your browser type and operating system, web pages you view, links you click, your IP address, the length of time
            you visit our Website or use our Services, your activities on our Website, and the referring URL or the webpage
            that led you to our Website.</li>
    </ul>
    <p><strong>What</strong> information does RokaPay collect?</p>
    <p>The types of information we collect about you depends on your particular interaction with our Website and our Services,
        and might include, where permitted by applicable law:</p>
    <ul>
        <li>Your contact information (e.g., name, email address, phone number, billing or mailing address)</li>
        <li>Bank and credit account information</li>
        <li>IP address.</li>
        <li>Identity validation (e.g., photograph, other information requested to verify your information)</li>
        <li>Credit history</li>
        <li>National identification numbers</li>
        <li>Date of birth</li>
        <li>Details of any transactions carried out using any the services</li>
        <li>Any other information that you choose to provide to us (e.g., if you send us an email/otherwise contact us)</li>
        <li>Calls/emails/other correspondence</li>
        <li>Information through Cookies and other tracking technologies as listed above and as described in the section below
        </li>
    </ul>
    <p>You are responsible for providing accurate and up-to-date information. If you choose to participate in our Refer a Friend
        program, you acknowledge that you have your friend’s consent to provide your friend’s information to us.</p>
</div>
<div class="section3">

</div>-->
    <div class="sections">
        <div id="section1">
            <h3 class="western">1. OVERVIEW:</h3>
            <p>In order to operate the RokaPay Services and to reduce the risk of fraud, RokaPay must ask you to provide
                us with information about yourself, including your credit or debit card and/or bank account details. This
                Privacy Policy relates to RokaPay (&ldquo;us&rdquo; &ldquo;our&rdquo; or &ldquo;we).</p>
            <p>This Privacy Policy explains how we collect store and use your personal information when you visit this website.
                It also describes the types of personal information we collect, and how we use this information to ensure
                we provide relevant and timely services to you, and to improve your experience of the website. It also sets
                your rights to the control of our use of this information.</p>
            <p>By continuing to use this website, you confirm that you have read, understood and agreed to this Privacy Policy
                and consent to us using your personal information as described. If you are at all uncertain about any aspect
                of this Privacy Policy, please contact us using contact details below and refrain from using the website.</p>
            <p>We will not sell or rent your information to third parties for their marketing purposes without your explicit
                consent. However, in order for us to offer RokaPay Services to our users; enhance the quality of RokaPay
                Services from time to time; and protect the interests of our users, we will in limited circumstances share
                some of your information with third parties under strict restrictions, as described in more detail in this
                Privacy Policy.</p>

        </div>
        <div id="section2">
            <h3 class="western">2. HOW, WHEN AND WHAT WE COLLECT?</h3>

            <p><strong>How</strong> does RokaPay collect my information?</p>
            <p>We collect information directly from you, about you from third parties, and automatically as you use our Website
                and the Services.
            </p>
            <p><strong>Required Information</strong>: To open a RokaPay account or use the RokaPay Services, you must
                provide your name, address, phone number, and email address. In order to make payments through the RokaPay
                Services, you must provide credit card, debit card or bank account information. We also ask you to choose
                security questions to answer (such as your city of birth or your pet's name).</p>
            <p><strong>When</strong> does RokaPay collect my information?</p>
            <ul>
                <li>
                    <p>When you apply for and use our Services, you contact us with questions, and you otherwise choose to provide
                        information to us.</p>
                </li>
                <li>
                    <p>We receive information about you from banking references, credit reporting agencies, affiliates, other
                        RokaPay users if they provide us your name through our referral programs, and other third parties
                        (e.g., entities that assist us in validating your identity, among others). We may combine this with
                        other information that we collect about you.</p>
                </li>
                <li>
                    <p>We, and our third party service providers, automatically collect the following information about your
                        use of our Website and our online Services through cookies, web beacons, log files and other technologies:
                        your domain name, your browser type and operating system, web pages you view, links you click, your
                        IP address, the length of time you visit our Website or use our Services, your activities on our
                        Website, and the referring URL or the webpage that led you to our Website.</p>
                </li>
            </ul>
            <p><strong>What</strong> information does RokaPay collect?</p>
            <p>The types of information we collect about you depends on your particular interaction with our Website and our
                Services, and might include, where permitted by applicable law:</p>
            <ul>
                <li>
                    <p>Your contact information (e.g., name, email address, phone number, billing or mailing address)</p>
                </li>
                <li>
                    <p>Bank and credit account information</p>
                </li>
                <li>
                    <p>IP address.</p>
                </li>
                <li>
                    <p>Identity validation (e.g., photograph, other information requested to verify your information)</p>
                </li>
                <li>
                    <p>Credit history</p>
                </li>
                <li>
                    <p>National identification numbers</p>
                </li>
                <li>
                    <p>Date of birth</p>
                </li>
                <li>
                    <p>Details of any transactions carried out using any the services</p>
                </li>
                <li>
                    <p>Any other information that you choose to provide to us (e.g., if you send us an email/otherwise contact
                        us)
                    </p>
                </li>
                <li>
                    <p>Calls/emails/other correspondence</p>
                </li>
                <li>
                    <p>Information through Cookies and other tracking technologies as listed above and as described in the section
                        below
                    </p>
                </li>
            </ul>
            <p>You are responsible for providing accurate and up-to-date information. If you choose to participate in our Refer
                a Friend program, you acknowledge that you have your friend&rsquo;s consent to provide your friend&rsquo;s
                information to us.
            </p>

        </div>
        <div id="section3">
            <h3 class="western">3. HOW WE USE THE INFORMATION WE COLLECT</h3>

            <ul>
                <li>
                    <p>Process transactions and provide the RokaPay Services;</p>
                </li>
                <li>
                    <p>Verify your identity, including during account creation and password reset processes;</p>
                </li>
                <li>
                    <p>Resolve disputes, collect fees, and troubleshoot problems;</p>
                </li>
                <li>
                    <p>Manage risk, or to detect, prevent, and/or remediate fraud or other potentially illegal or prohibited
                        activities;
                    </p>
                </li>
                <li>
                    <p>Measure the performance of the RokaPay Services and improve their content and layout;</p>
                </li>
                <li>
                    <p>Manage and protect our information technology infrastructure;</p>
                </li>
                <li>
                    <p>For the purpose for which you specifically provide the information to us, including, to respond to your
                        inquiries, to provide any information that you request, and to provide customer support.</p>
                </li>
                <li>
                    <p>To tailor the content and information that we may send or display to you, to offer location customization
                        (where permitted by applicable law), personalized help and instructions, and to otherwise personalize
                        your experiences while using our Website and our Services.</p>
                </li>
                <li>
                    <p>For marketing and promotional purposes, for example, where permitted by law (other than if (where applicable)
                        you opted out in &ldquo;My Account&rdquo; on the Website), and as noted below, we may use your information,
                        such as your email address, phone number, or mailing address to send you newsletters, special offers
                        and promotions, or to otherwise contact you about services or information we think may interest you,
                        or to conduct draws for campaigns and the like and deliver prizes and rewards .</p>
                </li>
                <li>
                    <p>As permitted by applicable law (other than if (where applicable) you opted out ), to assist us in advertising
                        our products and services in various mediums including, without limitation, sending you promotional
                        emails, advertising our services on third party sites and social media platforms, sending you direct
                        mail, and by telemarketing.
                    </p>
                </li>
                <li>
                    <p>To better understand how users access and use our Website and our Services, both on an aggregated and
                        individualized basis, to administer, monitor, and improve our Website and Services, for our internal
                        purposes, and for other research and analytical purposes.</p>
                </li>
                <li>
                    <p>To protect our customers, employees or property &mdash; for instance, to investigate fraud, harassment
                        or other types of unlawful activities involving us or other companies that we do business with, to
                        enforce this Policy, as well as our Terms and Conditions.</p>
                </li>
            </ul>

        </div>
        <div id="section4">
            <h3 class="western">4. WHEN DO WE SHARE YOUR INFORMATION?</h3>

            <p>We will only share your information with third parties, including service providers, regulated institutions (e.g.,
                financial institutions), affiliated entities, and partners as set out below. In the section below, we list
                the reasons under which RokaPay may choose to share information.</p>
            <p>Specifically, you consent to and direct RokaPay to do any and all of the following with your information:</p>
        </div>
        <div id="section5">
            <h3 class="western">5. HOW AND WHY WE SHARE YOUR INFORMATION:</h3>

            <ul>
                <li>
                    <p>With our service providers and affiliates &ndash; to assist us with our everyday business purposes, such
                        as to process your transactions and maintain your account(s).</p>
                </li>
                <li>
                    <p>For marketing purposes:</p>
                    <ul>
                        <li>
                            <p>With our service providers and our affiliates &ndash; to market our own products and services;
                                and
                            </p>
                        </li>
                        <li>
                            <p>With non-affiliated third parties for joint marketing purposes.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>With other RokaPay customers or third parties using our services - to assist in carrying out your
                        transactions with such customers or third parties or for purposes of our refer-a-friend program(s).</p>
                </li>
                <li>
                    <p>In response to legal process &ndash; to comply with the law, a judicial proceeding, subpoena, court order,
                        or other legal process.</p>
                </li>
                <li>
                    <p>In connection with business transfers &ndash; to another entity if we are acquired by or merged with
                        such other entity, if substantially all of our assets are transferred to such other entity, or as
                        part of a bankruptcy proceeding.
                    </p>
                </li>
                <li>
                    <p>To protect us and others &ndash; we may disclose your information when we believe it is necessary to
                        investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving
                        potential threats to the safety of any person, violations of our Terms and Conditions or this Policy,
                        or as evidence in litigation in which we are involved.</p>
                </li>
                <li>
                    <p>We and other organisations, including parties that accept RokaPay services, may also share, access
                        and use (including from other countries) necessary information (including, without limitation the
                        information recorded by fraud prevention agencies) to help us and them assess and to manage risk
                        (including, without limitation, to prevent fraud, money laundering and terrorist financing). Please
                        contact us if you want to receive further details of the relevant fraud prevention agencies. For
                        more information on these Agencies, fraud prevention agencies and other third parties, click <strong>here</strong></p>
                </li>
                <li>
                    <p>Disclose necessary information in response to the requirements of the credit card associations or a civil
                        or criminal legal process.</p>
                </li>
                <li>
                    <p>Disclose necessary information to your agent or legal representative (such as the holder of a power of
                        attorney that you grant, or a guardian appointed for you).</p>
                </li>
                <li>
                    <p>Third Party Sites: If you open a RokaPay account directly on a third party website or via a third
                        party application, any information that you enter on that website or application (and not directly
                        on a RokaPay website) will be shared with the owner of the third party website or application.
                        These sites are governed by their own privacy policies and you are encouraged to review their privacy
                        policies before providing them with personal information. RokaPay is not responsible for the content
                        or information practices of such third parties.</p>
                </li>
            </ul>
            <p>* If you do not want us to use your details for us to market to you, and/or to pass your details on to third
                parties for marketing purposes, please contact us through the phone number or email address listed in the
                Section Contact Us, Questions, Updating Your Info, Opting Out below. You will also be able to unsubscribe
                from any marketing emails sent to you by RokaPay using a link provided in the email.</p>
        </div>
        <div id="section6">
            <h3 class="western">6. WHERE WE STORE YOUR DATA</h3>
            <p>RokaPay is committed to handling your customer information with high standards of information security. We
                use computer safeguards such as firewalls and data encryption, we enforce physical access controls to our
                buildings and files, and we authorise access to personal information only for those employees who require
                it to fulfil their job responsibilities.</p>
            <p>All information you provide to us is stored on our secure servers. Any payment transactions will be encrypted
                using SSL technology. Where we have given you (or where you have chosen) a password which enables you to
                access certain parts of our site, you are responsible for keeping this password confidential. We ask you
                not to share a password with anyone.
            </p>
            <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do
                our best to protect your personal data, we cannot guarantee the security of your data transmitted to our
                Website; any transmission is at your own risk. Once we have received your information, we will use strict
                procedures and security features to try to prevent un-authorized access.</p>
        </div>
        <div id="section7">
            <h3 class="western">7. OUR USE OF COOKIES AND OTHER TRACKING MECHANISMS</h3>
            <p>We and our third party service providers use cookies and other tracking mechanisms (including tracking technologies
                designed for mobile applications) to track information about your use of our Website and Services. We may
                combine this information with other personal information we collect from you (and our third party service
                providers may do so on our behalf).</p>
            <p>
                <u>Cookies</u>. Cookies are alphanumeric identifiers that we transfer to your computer&rsquo;s hard drive through
                your web browser for record-keeping purposes. Some cookies allow us to make it easier for you to navigate
                our Website and Services, while others are used to enable a faster log-in process or to allow us to track
                your activities at our Website and Service. There are four types of cookie:</p>
            <ul>
                <li>
                    <p><strong>Strictly necessary cookies</strong>. These are cookies that are required for the operation of
                        our Website. They include, for example, cookies that enable users to log into secure areas of our
                        Website.
                    </p>
                </li>
                <li>
                    <p><strong>Analytical/performance cookies</strong>. These types of cookies allow us to recognize, count
                        the number of visitors, and see how visitors move around our Website when they are using it. This
                        assists us to improve the way in which our Website works, for example, by ensuring that you can find
                        what you are looking for easily.</p>
                </li>
                <li>
                    <p><strong>Functionality cookies</strong>. These cookies are used to recognize you when you return to our
                        Website. They enable the personalization of content, recognition of users, and also remember your
                        user preferences (for example, your choice of language or region).</p>
                </li>
                <li>
                    <p><strong>Targeting cookies</strong>. These cookies record your visit to our Website, the individual pages
                        visited and the links followed. If the cookie is set by a third party (for example, an advertising
                        network) which also monitors traffic on other websites, this type of cookie may also be used to track
                        your movements across different websites and to create profiles of your general online behavior.
                        Information collected by tracking cookies is commonly used to target online advertising.</p>
                </li>
            </ul>
            <p>The four types of cookies above will be either session cookies or persistent cookies.</p>
            <ul>
                <li>
                    <p><strong>Session Cookies</strong>. Session cookies exist only during an online session. They disappear
                        from your computer when you close your browser or turn off your computer. We use session cookies
                        to allow our systems to uniquely identify you during a session or while you are logged into the Website
                        or Services. This allows us to process your online transactions and requests and verify your identity,
                        after you have logged in, as you move through our Website or Services.</p>
                </li>
                <li>
                    <p><strong>Persistent Cookies</strong>. Persistent cookies remain on your computer after you have closed
                        your browser or turned off your computer. We use persistent cookies to remember your user information,
                        preferences and activity, to enable us to provide our services to you when you next return to our
                        Website or Services. We also use persistent cookies to track aggregate and statistical information
                        about user activity, which may be combined with other user information.</p>
                </li>
            </ul>
            <p><strong>Local Storage Objects.</strong> We may use Flash Local Storage Objects (&ldquo;Flash LSOs&rdquo;) to
                store your Website preferences and to personalize your visit. Flash LSOs are different from browser cookie
                because of the amount and type of data stored. Typically, you cannot control, delete, or disable the acceptance
                of Flash LSOs through your web browser. For more information on Flash LSOs, or to learn how to manage your
                settings for Flash LSOs, go to the Adobe Flash Player Help Page, choose &ldquo;Global Storage Settings Panel&rdquo;
                and follow the instructions. To see the Flash LSOs currently on your computer, choose &ldquo;Website Storage
                Settings Panel&rdquo; and follow the instructions to review and, if you choose, to delete any specific Flash
                LSO.
            </p>
            <p><strong>Storage HTML5 Storage</strong>. We may also store your user information and Website preferences locally
                within your web browser via HTML5.</p>
            <p><strong>Clear GIFs, pixel tags and other technologies</strong>. Clear GIFs are tiny graphics with a unique identifier,
                similar in function to cookies. In contrast to cookies, which are stored on your computer&rsquo;s hard drive,
                clear GIFs are embedded invisibly on web pages. We may use clear GIFs (a.k.a. web beacons, web bugs or pixel
                tags), in connection with our Website or Services to, among other things, track the activities of Website
                visitors, help us manage content, and compile statistics about Website and Services usage. We and our third
                party service providers also use clear GIFs in HTML emails to our customers, to help us track email response
                rates, identify when our emails are viewed, and track whether our emails are forwarded.</p>
            <p><strong>Changing or Disabling your Cookie Settings</strong>. Most web browsers automatically accept cookies,
                but if you prefer you can edit your browser options to block them in the future. The Help portion of the
                toolbar on most browsers will tell you how to prevent your computer from accepting new cookies, how to have
                the browser notify you when you receive a new cookie, or how to disable cookies altogether. Visitors to our
                Website who disable their web browsers&rsquo; ability to accept cookies will be able to browse the Website;
                however, most site features will not function if you disable cookies and you will not be able to login to
                use our services.</p>
            <p><strong>Do Not Track.</strong> Currently, our systems do not honor browser &ldquo;do-not-track&rdquo; requests.
                You may, however, disable certain tracking as discussed above (e.g., by disabling cookies); you also may
                opt-out of Third Party Analytics or targeted advertising by following the instructions in the Third Party
                Ad Networks section below.</p>
        </div>
        <div id="section8">
            <h3 class="western">8. THIRD PARTY ANALYTICS</h3>

            <p>We use automated devices and applications, such as Google Analytics, Mixpanel, Mouseflow, VWO and Trendemon,
                to evaluate use of our Website and the Services.</p>
            <p>To opt-out of Google Analytics, please go to: <a href="https://tools.google.com/dlpage/gaoptout/">https://tools.google.com/dlpage/gaoptout/</a>                .</p>
            <p>To opt-out of Mouseflow please go to <a href="https://mouseflow.com/opt-out/">https://mouseflow.com/opt-out/</a>                .</p>
            <p>To opt-out of Mixpanel&rsquo;s analytics go to click here.</p>
            <p>To track opt-outs, Mixpanel will use a persistent cookie on your device. Please note that if you use a new or
                different computer, install a new browser, or clear your cookies, you may clear the Mixpanel opt-out cookie;
                in that case, you will need to re-opt-out through the link above.</p>
            <p>We use these tools to help us improve our Services, performance and user experiences. These entities may use
                cookies and other tracking technologies to perform their services. These third parties may collect your device
                ID, IP address, or other information about your use of the Services as part of the analytics they provide
                to us.</p>
        </div>
        <div id="section9">
            <h3 class="western">9. THIRD-PARTY AD NETWORKS</h3>
            <p>We use third parties, such as network advertisers and other marketing agents, to display advertisements on our
                Website, to assist us in displaying advertisements on third party websites, and to evaluate the success of
                our advertising campaigns. Network advertisers are third parties that display advertisements based on your
                visits to our Website and unrelated third party websites. This enables us and these third parties to target
                advertisements by displaying ads for products and services in which you might be interested. Third party
                ad network providers, advertisers, sponsors and/or traffic measurement services may use cookies, JavaScript,
                web beacons (including clear GIFs), Flash LSOs and other technologies to measure the effectiveness of their
                ads and to personalize advertising content to you. These third party cookies and other technologies are governed
                by each third party&rsquo;s specific privacy policy, not this one. We may provide these third-party advertisers
                with information about your use of our Website and our Services, as well as aggregate or non-personally identifiable
                information about visitors to our Website and users of our Service.</p>
            <p>You may opt-out of many third-party ad networks, including those operated by members of the Network Advertising
                Initiative (&ldquo;NAI&rdquo;) and the Digital Advertising Alliance (&ldquo;DAA&rdquo;). For more information
                regarding this practice by NAI members and DAA members, and your choices regarding having this information
                used by these companies, including how to opt-out of third-party ad networks operated by NAI and DAA members,
                please visit their respective websites: www.networkadvertising.org/optout_nonppii.asp (NAI) and www.aboutads.info/choices
                (DAA).
            </p>
            <p>Opting out of one or more NAI member or DAA member networks (many of which will be the same) only means that
                those members no longer will deliver targeted content or ads to you. It does not mean you will no longer
                receive any targeted content or ads on our Website or other websites. You may continue to receive advertisements,
                for example, based on the particular website that you are viewing. Also, if your browsers are configured
                to reject cookies when you visit this opt-out page, or you subsequently erase your cookies, use a different
                computer or mobile device or change web browsers, your NAI or DAA opt-out may no longer be effective. Additional
                information is available on NAI&rsquo;s and DAA&rsquo;s websites accessible by the above links.</p>
        </div>
        <div id="section10">
            <h3 class="western">10. CHANGES TO OUR PRIVACY &amp; COOKIE POLICY</h3>
            <p>We reserve the right to modify or amend this Privacy Policy at any time and for any reason. When changed, we
                will provide notice to you on this website that it has been changed. Please check back frequently to see
                any updates or changes to our Policy. Continued use of our Services will constitute acceptance of the Policy
                in place from time to time. We will not materially reduce your rights under this Policy without taking steps
                to bring such changes to your attention and obtain your consent to the same.</p>
        </div>
        <div id="section11">
            <h3 class="western">11. CONTACT US, QUESTIONS, UPDATING YOUR INFO, OPTING OUT</h3>
            <p>If you are a RokaPay Services customer and would like to update your information, please log into your &ldquo;My
                Account&rdquo;. If you are not a RokaPay Services customer, but have provided us with information, and
                would like to update your information, you may contact us through the phone number or email address listed
                below. From time to time, we may email you with special offers; you may opt-out of those offers through the
                email or by contacting us as noted below. If you otherwise would like to contact us for a privacy-related
                matter, please use the following contact information:</p>
            <p>RokaPay Customer Support, Company Name</p>
            <p>Address:</p>
            <p>Phone: 1-800-111-111 (within the USA) or 1-111-1111-1111 (outside the USA)</p>
            <p>Email: us@RokaPay.com</p>
            <p>Web: <a href="http://www.RokaPay.com">www.RokaPay.com</a></p>
            <p><strong>For EU Customers</strong>:</p>
            <p>RokaPay, Company Name</p>
            <p>Address:</p>
            <p>Phone: 1-800-111-111 (within the USA) or 1-111-1111-1111 (outside the USA)</p>
            <p>Email: us @RokaPay.com</p>
            <p>Web: <a href="http://www.RokaPay.com">www.RokaPay.com</a></p>

        </div>
        <div id="section12">
            <h3 class="western">12. DISCLAIMER</h3>
            <p>Any and all content provided on this Website or the Services, including links to other websites is provided for
                information purposes only and does not constitute advice, recommendation or support of such content or website.
                RokaPay makes every effort to provide true and accurate content on its Website. However, RokaPay provides
                no warranty, express or implied, of the accuracy, completeness, timeliness, or applicability of such content.
                RokaPay accepts no responsibility for and excludes all liability in connection with information provided
                on the RokaPay website, including but not limited to any liability for errors, inaccuracies or omissions.</p>
        </div>
    </div>
</div>