<div class="loginContainer">
    <div class="useless"></div>
    <div class="middle">
        <div class="ttLogin">
            <div class="logo logo--login"></div>
            <div *ngIf="!isExpired">
            <span class="loginLabel"> <span>Change</span><span class="first"> password</span></span>
            <p  class="pswdTxt"  [hidden]="stepWait">You're almost done. Please type in your new password.</p>
            <form [ngFormModel]="resetForm" novalidate [hidden]="stepWait">
                <input type="password" class="form-control" required placeholder="New Password" ngControl="newp1" pattern="^((?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&*()_+\-=\[\]{};':\\|,.<>\/?]).{8,20})$"
                    maxlength="20" minlength="8" [(ngModel)]="newp1" />
                <control-messages [control]="resetForm.controls.newp1"></control-messages>
                <input type="password"  class="form-control"  required placeholder="Confirm New Password" ngControl="newp2" maxlength="20" [(ngModel)]="newp2" />
                <control-messages [control]="resetForm.controls.newp2"></control-messages>
                <div class="errorMsg">
                    <div *ngIf="resetForm.controls.newp2.dirty && resetForm.controls.newp2.valid && resetForm.errors!=null && resetForm.errors.mismatchedPasswords"><i class="fa fa-warning"></i>&nbsp;&nbsp;Password does not match.
                    </div>
                </div>
                <button class="wpBtn" (click)="reset()">Save and login</button>
            </form>
            <div [hidden]="!stepWait" class="wait">
                <div class="arrow"></div>
                <span>Please Wait</span>
            </div>
            </div>
            <div *ngIf="isExpired">
                <p  class="pswdTxt"  [hidden]="stepWait">Link has expired. Please resubmit your reset password request.</p>
                <a href="/" class="wpBtn">Continue</a>
            </div>
        </div>
    </div>
</div>