<div class="sendFundsContainer">
    <div [hidden]="!step1" class="step1">
        <label class="title">Pay for goods or services</label>
        <span>Please enter the website where you want to make your purchase</span>
        <form [ngFormModel]="sf1" novalidate>
            <input type="text" placeholder="http://websitename" required maxlength="80" [(ngModel)]="merchantId" ngControl="merchantId"
            />
            <control-messages [control]="sf1.controls.merchantId"></control-messages>
            <button class="wpBtn" (click)="click1()">Next</button>
        </form>
    </div>
    <div [hidden]="!step2" class="step2">
        <div (click)="step2=false;step1=true;" class="backBtn">
            <i class="fa fa-angle-left"></i>
        </div>
        <label class="inlineImp title">Send Payment</label>
        <div class="balDiv">
            <span class="name">{{name}}</span>, You have a rokapay balance of <span class="bal">INR{{balance}}</span>
        </div>
        <form [ngFormModel]="sf2" novalidate>
            <span class="dollar">INR</span><input class="amt" placeholder="Enter Amount" ngControl="amt" [(ngModel)]="amt"
                required maxlength="8" pattern="^(\d{1,5}\.{1}\d{1,2})$|^(\d{1,5})$" />
            <control-messages [control]="sf2.controls.amt"></control-messages>
            <label class="special">Special instructions (optional)</label>
            <input type="text" placeholder="Write here" maxlength="80" [(ngModel)]="comment" ngControl="comment" />
            <button class="wpBtn" (click)="click2()">Continue</button>
        </form>

    </div>
    <div [hidden]="!step3" class="step3">
        <div (click)="step3=false;step2=true;" class="backBtn">
            <i class="fa fa-angle-left"></i>
        </div>
        <label class="inlineImp title">Send Payment</label>
        <div class="balDiv">
            <span class="name">{{name}}</span>, You have a rokapay balance of <span class="bal">INR{{balance}}</span>
        </div>
        <div class="amtDiv">
            <span>You will pay:</span>
            <span class="amt">INR{{amt}}</span>
        </div>
        <button class="wpBtn" (click)="click3()">Send money</button>
    </div>
    <div [hidden]="!stepWait" class="wait">
        <label>Processing Transaction</label>
        <div class="arrow"></div>
        <span>Please Wait</span>
    </div>
    <div [hidden]="!step4" class="step4">
        <label class="heading">You just made a payment of</label>
        <label class="amt">INR{{amt}} USD</label>
        <label class="heading marginTop">Transaction details</label>
        <span class="info">Your transaction ID for this payment is: {{txnId}}</span>
        <span class="info">We'll send a confirmation email to: {{email}}</span>
        <label  class="heading  marginTop">Paid to</label>
        <span class="info">{{merchant.name}}, {{merchant.email}}, {{merchant.phone}}</span>
        <button class="wpBtn" (click)="click4()">Done</button>
    </div>
    <div [hidden]="!step5" class="step5">
        <label>TRANSACTION UNSUCCESSFUL!</label>
        <span>Please try again later.</span>
    </div>
</div>