<div class="signupContainer">
    <div class="overlay">
        <div class="middle">
            <div class="popup" [ngClass]="{'step2':activeIndex==2}">
                <div class="logoContainer">
                    <div class="logo"></div>
                </div>
                <div class="head">
                    <span>Sign up</span>
                    <div class="circleContainer">
                        <div class="circle" [ngClass]="{active:activeIndex==1}"></div>
                        <div class="circle" [ngClass]="{active:activeIndex==2}"></div>
                        <div class="circle" [ngClass]="{active:activeIndex==3}"></div>
                        <div class="circle" [ngClass]="{active:activeIndex==4}"></div>
                    </div>
                </div>
                <div class="box">
                    <div class="step1 clearfix" [hidden]="activeIndex!=1">
                        <div class="col col-sm-6">
                            <span class="col-xs-0">Dreaming about payments</span>
                            <span class="col-xs-0">variety, production and support?</span>
                            <p>Dream no more and <span>sign up</span> for free!</p>
                            <span>Fill in the blanks with the</span>
                            <span>information required - you're</span>
                            <span>only few steps away.</span>
                        </div>
                        <div class="col col-sm-6 top">
                            <form [ngFormModel]="sf1" novalidate>
                                <input type="email" placeholder="Email Address" ngControl="email" [(ngModel)]="sf.emailId" required maxlength="80" />
                                <control-messages [control]="sf1.controls.email"></control-messages>
                                <input type="password" required placeholder="Password" ngControl="password" pattern="^((?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&*()_+\-=\[\]{};':\\|,.<>\/?]).{8,20})$"
                                    maxlength="20" minlength="8" [(ngModel)]="sf.password" />
                                <control-messages [control]="sf1.controls.password"></control-messages>
                                <input type="password" required placeholder="Re-Enter Password" ngControl="cpswd" maxlength="20" [(ngModel)]="sf.confirmPassword"
                                />
                                <control-messages [control]="sf1.controls.cpswd"></control-messages>
                                <div class="errorMsg">
                                    <div *ngIf="sf1.controls.cpswd.dirty && sf1.controls.cpswd.valid && sf1.errors!=null && sf1.errors.mismatchedPasswords"><i class="fa fa-warning"></i>&nbsp;&nbsp;Password does not match.
                                    </div>
                                </div>
                                <button class="wpBtn" (click)="click1()">Continue</button>
                            </form>
                        </div>
                    </div>
                    <div class="step2" [hidden]="activeIndex!=2">
                        <div (click)="activeIndex=1" class="backBtn">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <form [ngFormModel]="sf2" novalidate>
                            <span class="header"><span class="dark">Halfway</span> through already</span>
                            <div class="clearfix">
                                <div class="col-sm-6">
                                    <input placeholder="First Name" ngControl="fName" maxlength="30" required [(ngModel)]="sf.fName" />
                                    <control-messages [control]="sf2.controls.fName"></control-messages>
                                </div>
                                <div class="col-sm-6 pull-right">
                                    <input placeholder="Last Name" ngControl="lName" maxlength="30" required [(ngModel)]="sf.lName" />
                                    <control-messages [control]="sf2.controls.lName"></control-messages>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="col-sm-6">
                                    <!--<input placeholder="COUNTRY" ngControl="country" maxlength="30" required [(ngModel)]="sf.country" />-->
                                    <wp-country (statesListChanged)="getStateList($event)"></wp-country>
                                    <div class="errorMsg">
                                        <div *ngIf="sf.country=='' && sf2.touched"><i class="fa fa-warning"></i>&nbsp;&nbsp;Required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6  pull-right">
                                    <!--<input placeholder="STATE" ngControl="state" maxlength="30" required [(ngModel)]="sf.state" />-->
                                    <select [(ngModel)]="sf.state" ngControl="state" required><option *ngFor="let state of states" [ngValue]="state.stateId">{{state.stateName}}</option></select>
                                    <control-messages [control]="sf2.controls.state"></control-messages>
                                    <!--<div class="errorMsg">
                                        <div *ngIf="sf.state=='' && sf2.touched"><i class="fa fa-warning"></i>&nbsp;&nbsp;Required
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="col-sm-6">
                                    <input placeholder="Street Address" ngControl="addressline1" maxlength="30" required [(ngModel)]="sf.address" />
                                    <control-messages [control]="sf2.controls.addressline1"></control-messages>
                                </div>
                                <div class="col-sm-6  pull-right">
                                    <input placeholder="Town/City" ngControl="city" maxlength="30" required [(ngModel)]="sf.city" />
                                    <control-messages [control]="sf2.controls.city"></control-messages>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="col-sm-6 clearfix">
                                    <input placeholder="ZIP Code" ngControl="zip" pattern="[0-9]{5,6}" maxlength="6" minlength="5" required [(ngModel)]="sf.zip" />
                                    <control-messages [control]="sf2.controls.zip"></control-messages>
                                </div>
                                <div class="col-sm-6  pull-right">
                                    <wp-country-code (codeChanged)="getCountryCode($event)"></wp-country-code>
                                    <input class="phone" placeholder="Phone Number" ngControl="mobile" pattern="[0-9]{10}" maxlength="10" minlength="10" required
                                        [(ngModel)]="sf.mobile" />
                                    <control-messages [control]="sf2.controls.mobile"></control-messages>
                                </div>
                            </div>
                            <div class="alert alert-warning" [hidden]="!(!sf.isTncAccepted && validate)">
                                Please accept our Terms & Condition to create an account.
                            </div>
                            <input type="checkbox" class="checkbox" ngControl="isAccepted" [(ngModel)]="sf.isTncAccepted" required/>
                            <span class="terms"><span class="col-xs-0">I confirm to have read and accepted the binding policies of usage of this website. I have understood
                            the regulations encompassed in the </span><span class="policy"><span (click)="tc()">Terms & Condition</span>                            and <span (click)="privacy()">Privacy Policy</span>.</span>
                            </span>
                            <button class="wpBtn" (click)="click2()">Continue</button>
                            <div class="alert  alert-danger" [hidden]="!failed">
                                <strong>Sorry!</strong> Request Failed!
                            </div>
                        </form>
                    </div>
                    <div [hidden]="activeIndex!=0" class="wait">
                        <label>Processing</label>
                        <div class="arrow"></div>
                        <span>Please Wait</span>
                    </div>
                    <div class="step3" [hidden]="activeIndex!=3">
                        <span class="header">Add <span class="dark">credit/debit</span> card</span>
                        <wp-add-cc [isSignup]="true" (cancel)="later()" (added)="later()"></wp-add-cc>
                    </div>
                    <div class="step4" [hidden]="activeIndex!=4">
                        <span class="header">Congratulations!</span>
                        <span>You are now a registered member of <span class="brand">RokaPay!</span></span>
                        <span>Feel free to login to your account right away-we are already waiting to</span>
                        <span>help you get accustomed with our platform.</span>
                        <p class="perks">Time to enjoy the main perks we offer: <span class="dark">reliability, speed</span> and <span class="dark">comfort.</span></p>
                        <button class="wpBtn" (click)="login()"> <span [hidden]="!isUserLoggedIn">Go to my account</span><span [hidden]="isUserLoggedIn">Login</span></button>
                    </div>
                </div>
                <div [hidden]="!(activeIndex==1 || activeIndex==2)" class="already">Already have an account? <a class="login" [routerLink]="['/login']">Login here</a></div>
            </div>
        </div>
    </div>
</div>