<div class="tcContainer">
    <div class="headerDiv">
        <div class="logo"></div>
    </div>
    <label class="tcLabel">Terms and conditions for RokaPay account</label>
    <label class="jump">Jump to section: </label>
    <ul class="index">
        <li><a pageScroll href="#section1">1. Wallet Plus Account</a></li>
        <li><a pageScroll href="#section2">2. Uploading funds</a></li>
        <li><a pageScroll href="#section3">3. Sending payments</a></li>
        <li><a pageScroll href="#section4">4. Withdrawing funds</a></li>
        <li><a pageScroll href="#section5">5. Data Policy</a></li>
        <li><a pageScroll href="#section6">6. Liability</a></li>
    </ul>
    
    <p class="welcome" align="justify">WELCOME!</p>
    <p align="justify">This is a binding agreement between you and Wallet Plus and governs the use of our Payment Services (the Services). Using
        the Services shall mean accepting all terms and conditions contained in this Agreement.</p>
    <p align="justify">We may amend this Agreement at any time, without prior notice. The latest revised version is always available for download
        here (hyperlink). The revised version is effective since the day it is posted.</p>
    <p align="justify">Wallet Plus is a payment intermediary that helps physical persons make payments to third parties.</p>
    <div class="sections">
        <div id="section1">
            <h3>1. Wallet Plus Account</h3>
            <ul>
                <ul>
                    <li>
                        <p align="justify">Sign up</p>
                        <ul>
                            <li>
                                <p align="justify">For using our Services, you must first open a Wallet Plus account by becoming a registered
                                    user of our website. To do so you need to register a valid email address.</p>
                            </li>
                            <li>
                                <p align="justify">To be eligible to use the Services, you must be at least 18 years old. We may require at
                                    any time that you show evidence of your age. Should you be unable to do so, your account
                                    will be deactivated.</p>
                            </li>
                            <li>
                                <p align="justify">You may only open a Wallet Plus account if it is legal to do so in your country of residence.
                                    You represent and warrant that by using our Services, you do not violate any laws or
                                    regulations in your country of residence. You shall indemnify us against any losses we
                                    incur in connection with your breach of this section.</p>
                            </li>
                            <li>
                                <p align="justify">You represent and warrant that the personal information provided during the sign up and thereafter
                                    is accurate, truthful and sufficient.</p>
                            </li>
                            <li>
                                <p align="justify">You are responsible for maintaining adequate security and control of all IDs, passwords and
                                    any sensitive information in connection with your Wallet Plus account. It is advisable
                                    to change your passwords regularly. If you become aware of a security breach in regards
                                    to your wallet Plus account, you must contact the Customer Support Team without undue
                                    delay.</p>
                            </li>
                            <li>
                                <p align="justify">You must only add payment instruments (credit/debit cards or bank accounts) to your Wallet
                                    Plus account if you are the name holder of such payment instrument. Failure to comply
                                    with this rule represents a fraudulent act and will be treated as such.</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p align="justify">Use of account</p>
                        <ul>
                            <li>
                                <p align="justify">All operations in your Wallet Plus account are visible in your history tracking together
                                    with the fees applied and their unique transaction identification numbers.</p>
                            </li>
                            <li>
                                <p align="justify">You are recommended to check your Wallet Plus account regularity and report any irregularities
                                    without undue delay, directly with our Customer Support Team.</p>
                            </li>
                            <li>
                                <p align="justify">We may suspend your Wallet Plus account or otherwise restrict its functionality on reasonable
                                    grounds relating to the security of the account, its features, or in case of suspicion
                                    of fraudulent use. We shall formally inform you of such suspension or restriction in
                                    due time or at soon as the situation permits, without infringing any legislation or security
                                    policy.</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p align="justify">Close of Account</p>
                        <ul>
                            <li>
                                <p align="justify">You may close your Wallet Plus account at any time by giving a 10 working days&rsquo; notice.
                                    Please contact our Customer Support Team to initialize the closing procedures.</p>
                            </li>
                            <li>
                                <p align="justify">Within 14 days of the date of opening a Wallet Plus account, you may close your account at
                                    no cost by contacting our Customer Support Team. If you already added funds in your account,
                                    all withdrawal rules and fees will become applicable.</p>
                            </li>
                            <li>
                                <p align="justify">Accounts should hold a zero balance at the time of their closure. On the contrary, you are
                                    allowed 30 days to clear out the balance until the closure becomes effective. After the
                                    expiry of the 30 days, your account becomes inaccessible, but you may still withdraw
                                    your funds by contacting our Customer Support Team. Please bear in mind that withdraw
                                    rules and fees are applicable in this situation. Withdrawals are possible within 540
                                    days from the date of the account closure.</p>
                            </li>
                            <li>
                                <p align="justify">Accounts not logged in for a minimum of 356 consecutive days, will be disabled automatically.
                                    Should the account hold balance, you are required to contact our Customer Support Team
                                    to have it cleared. Please bear in mind that withdraw rules and fees are applicable in
                                    this situation.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
        <div id="section2">
            <h3>2. Uploading funds</h3>            
            <ul>
                <ul>
                    <li>
                        <p align="justify">Upload methods are payment instruments provided by third party financial institutions (eg. the issuer
                            of the credit/debit card) and are not part of our Service. We do not guarantee the use of any
                            of the upload methods available at any given moment. Furthermore, we may disconnect or make changes
                            to any of these upload methods, without giving prior notice to you. For the purpose of an upload
                            transaction through a payment instrument, we are a payment recipient and not a payment service
                            provider.</p>
                    </li>
                    <li>
                        <p align="justify">You may choose to use any of the upload methods available to you in your county of residence and
                            have them added to your Wallet Plus account at any time after a successful sign up.</p>
                    </li>
                    <li>
                        <p align="justify">Uploaded funds will be credited to your Wallet Plus account after the funds were received by us.
                            Some upload transactions, such as those by credit or debit card will be credited to your Wallet
                            Plus account immediately, but may be subject to reversal. In case the actual funds do not reach
                            us within a reasonable period of time, we shall deduct the reversed transaction from the balance
                            of your account. Should the balance be insufficient, we shall require repayment from you.</p>
                    </li>
                    <li>
                        <p align="justify">If you choose an upload method using a payment instrument that may be subject to chargeback rights,
                            you represent and warrant not to exercise such chargeback right, excepting the cases of unauthorized
                            use of a payment instrument or when you are rightfully entitled to a refund according to the
                            Terms of this Agreement. Please contact our Customer Support Team for further information.</p>
                    </li>
                    <li>
                        <p align="justify">The purchases you make towards a merchant are subject to their own terms and conditions. In order
                            to claim a refund for a transaction, you must contact the merchant or our Customer Support Team.
                            Once a refund is processed, Wallet Plus will inform you of such by sending you an email to the
                            registered email of your account and the refunded amount will be credited to your account.</p>
                    </li>
                    <li>
                        <p align="justify">In case of a mispayment or should you wish to request a refund for the funds deposited in your Wallet
                            Plus account, you may do so by contacting our Customer Support Team. Refund requests are subject
                            to review and approval before a refund is issued.</p>
                    </li>
                </ul>
            </ul>
            
        </div>
        <div id="section3">
            <h3>3. Sending payments</h3>
            <ul>
                <ul>
                    <li>
                        <p align="justify">To send a payment you need to be logged in into your Wallet Plus account.</p>
                    </li>
                    <li>
                        <p align="justify">You can send payments only to merchants registered in the Wallet Plus network. There are two options
                            to send payments to the merchant(s) of your choice:</p>
                        <ul>
                            <li>
                                <p align="justify">Once on the merchant&rsquo;s website, go to its payment page and choose Wallet Plus. You
                                    will be requested your credentials and upon successful authentication, you will be automatically
                                    routed to your Wallet Plus account:</p>
                                <ul>
                                    <li>
                                        <p align="justify">Should your balance be sufficient to proceed with a funds transfer between your Wallet
                                            Plus account and the merchant&rsquo;s account, choose the Transfer option and
                                            the amount you chose will be automatically transferred to the merchant&rsquo;s
                                            website.</p>
                                    </li>
                                    <li>
                                        <p align="justify">Should your balance be insufficient, choose first the Deposit option and upon a successful
                                            transaction and update of balance, follow the above step (3.2.1.1).</p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <p align="justify">If while logged into your Wallet Plus account, you decide to transfer funds to a merchant,
                                    please use the Search option to find the name of merchant you want to send funds to and
                                    choose the Transfer option (3.2.1.1) or the Deposit and Transfer options defined above
                                    (3.2.1.2 and 3.2.1.1) to proceed.</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p align="justify">We may, at our discretion, impose limits on the amount of money you can deposit in your wallet Plus
                            account or which you can transfer to a merchant. Should you require specific information in regards
                            to the limits imposed at a certain time, please contact our Customer Support Team.</p>
                    </li>
                    <li>
                        <p align="justify">It is strictly forbidden to use your Wallet Plus account for any illegal purposes including but not
                            limited to fraud and money laundering. Wallet Plus will report any suspicious activity to the
                            relevant law enforcement agency and your account will be terminated without prior notice.</p>
                    </li>
                    <li>
                        <p align="justify">You are must not use your Wallet Plus account in an attempt to abuse, exploit or circumvent the usage
                            restrictions imposed by a merchant on the services it provides.</p>
                    </li>
                    <li>
                        <p align="justify">It is your sole responsibility to ensure that you only send payments to merchants for the sale or
                            supply of goods and services that you may receive in compliance with any applicable laws and
                            regulations. The mere facts that a merchant accepts payment through us is not an indication of
                            the legality of the supply or provision of their goods and services. If you are in doubt as to
                            the legality of the supply or purchase, you should not continue with your payment.</p>
                    </li>
                </ul>
            </ul>
            
        </div>
        <div id="section4">
            <h3>4. Withdrawing funds</h3>
            <ul>
                <ul>
                    <li>
                        <p align="justify">You can request a withdrawal of all or part of the funds held in your Wallet Plus Account at any
                            time, and your request will be subject to our approval. To do this you must log into your account
                            and select a withdrawal method and enter the amount to be withdrawn. Withdrawal methods are payment
                            services provided, at least in part, by third party financial institutions (for example, the
                            bank where you hold a bank account). We do not guarantee the availability of any particular withdrawal
                            method and may make changes to or discontinue a particular withdrawal method at any time as long
                            as there is at least one withdrawal method available to you. Where the withdrawal payment is
                            received by you through the involvement of a payment service provider (such as the bank where
                            you hold a bank account), we shall not be responsible for the withdrawal payment once the withdrawn
                            funds are received by your payment service provider. For the purposes of a withdrawal transaction,
                            we are a payer and not a payment service provider.</p>
                    </li>
                    <li>
                        <p align="justify">Your Wallet Plus Account is subject to withdrawal limits. These limits are adjusted dynamically depending
                            on the type of identification documentation we hold on you. Your withdrawal limits can be seen
                            at any time in your account; alternatively you may call our Customer Support Team. Before uploading
                            any funds into your Wallet Plus account, you must ensure that your current withdrawal and spending
                            limits meet your withdrawal and spending requirements as we legally cannot allow you to exceed
                            these limits.</p>
                    </li>
                    <li>
                        <p align="justify">If your withdrawal request exceeds the current limit, we may decline your request and require you
                            to provide us with documents verifying your identity and address prior to allowing a withdrawal
                            of funds or to otherwise cooperate with us to verify your identity.</p>
                    </li>
                    <li>
                        <p align="justify">Withdrawals are subject to withdrawal fees depending on which withdrawal method and payment instrument
                            is chosen. All applicable fees will be communicated to you when requesting a withdrawal or alternatively
                            you may contact our Customer Support Team for further information.</p>
                    </li>
                    <li>
                        <p align="justify">You must ensure that the payment details you enter when withdrawing funds are correct and complete.
                            We will not be liable for withdrawn funds being sent to the wrong payment instrument where this
                            is due to you providing incorrect payment details.</p>
                    </li>
                </ul>
            </ul>
            
        </div>
        <div id="section5">
            <h3>5. Data Policy</h3>
            <ul>
                <ul>
                    <li>
                        <p align="justify">The processing of your personal data is governed by our Privacy Policy which can be found here (hyperlink).
                            By accepting these Terms and Conditions, you also agree to the terms of our Privacy Policy. You
                            should print and keep a copy of the Privacy Policy together with these Terms and Conditions.</p>
                    </li>
                    <li>
                        <p align="justify">You will receive e-mail newsletters that will inform you about new product features, events, promotions,
                            special deals etc. By accepting these Terms of Use, you agree to receive such e-mail newsletters
                            on a regular basis. If you do not wish to receive any newsletters from us, you may contact our
                            Customer Support Team and request to opt out of receiving newsletters.</p>
                    </li>
                </ul>
            </ul>
            
        </div>
        <div id="section6">
            <h3>6. Liability</h3>
            <ul>
                <ul>
                    <li>
                        <p align="justify">In case of an unauthorized payment or a payment that was incorrectly executed due to an error by
                            us, we shall, at your request, immediately refund the payment amount including all fees deducted
                            therefrom. This shall not apply:</p>
                        <ul>
                            <li>
                                <p align="justify">where the unauthorized payment arises from your failure to keep your account safe;</p>
                            </li>
                            <li>
                                <p align="justify">if you fail to notify us without undue delay of any loss of your password or other event
                                    that could reasonably be expected to have compromised the security of your Wallet Plus
                                    account after you have gained knowledge of such event in which case you shall remain
                                    liable for losses incurred up to your notification to us;</p>
                            </li>
                            <li>
                                <p align="justify">if the transaction was unauthorized but you have compromised the security of your account
                                    with intent or gross negligence in which case you shall be solely liable for all losses;</p>
                            </li>
                            <li>
                                <p align="justify">if you fail to dispute and bring the unauthorized or incorrectly executed transaction to
                                    our attention within 30 calendar days from the date of the transaction.</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p align="justify">Without prejudice to the foregoing, you are asked to check the transactions history of your account
                            regularly and frequently and to contact our Customer Support Team immediately in case you have
                            any questions or concerns.</p>
                    </li>
                    <li>
                        <p align="justify">We shall not be liable for any indirect or consequential losses including but not limited to loss
                            of profit, loss of business and loss of reputation. We shall not be liable for any losses arising
                            from our compliance with legal and regulatory requirements.</p>
                    </li>
                    <li>
                        <p align="justify">Nothing in these Terms and Conditions shall operate to exclude liability for death or personal injury
                            due to negligence or for fraud or fraudulent misrepresentation or for any statutory liability
                            that cannot be excluded or amended by agreement between the parties.</p>
                    </li>
                    <li>
                        <p align="justify">We shall not be liable for the assessment or payment of any taxes, duties or other charges that arise
                            from the underlying commercial transaction between you and the merchants providing you with goods
                            and/or services.</p>
                    </li>
                    <li>
                        <p align="justify">You agree to defend, reimburse or compensate us and hold us and our other companies in our corporate
                            group harmless from any claim, demand, expenses or costs (including legal fees, fines or penalties)
                            that we incur or suffer due to or arising out of your breach of these Terms and Conditions, breach
                            of any applicable law or regulation and/or use of the services. This provision shall survive
                            termination of the relationship between you and us.</p>
                    </li>
                </ul>
            </ul>
            
            <ul start="7">
                <li>
                    <p align="justify">Complaints Policy</p>
                </li>
            </ul>
            
            <ul>
                <ul>
                    <li>
                        <p align="justify">Any complaints about us or the services we provide should be addressed to us by contacting our Customer
                            Support Team. You should clearly indicate that you are wishing to make a complaint to us. This
                            helps us to distinguish a complaint from a mere query. We send you a complaint acknowledgement
                            by post or by email within 48 hours of receiving your complaint.</p>
                    </li>
                </ul>
            </ul>
            
            <ul start="8">
                <li>
                    <p align="justify">Miscellaneous</p>
                </li>
            </ul>
            
            <ul>
                <ul>
                    <li>
                        <p align="justify">No person other than you shall have any rights under these Terms and Conditions.</p>
                    </li>
                    <li>
                        <p align="justify">If any part of these Terms and Conditions is found by a court of competent jurisdiction to be invalid,
                            unlawful or unenforceable then such part shall be severed from the remainder of the Terms and
                            Conditions, which shall continue to be valid and enforceable to the fullest extent permitted
                            by law.</p>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</div>