<div class="updateAddressContainer">
    <div [hidden]="!step1" class="step1">
        <label  class="title">Enter Billing Address Details</label>
        <div>
            <form [ngFormModel]="addressForm" novalidate>
                <input placeholder="Address" ngControl="address" maxlength="30" required [(ngModel)]="selectedAddress.address" />
                <control-messages [control]="addressForm.controls.address"></control-messages>
                <input placeholder="City" ngControl="city" maxlength="30" required [(ngModel)]="selectedAddress.city" />
                <control-messages [control]="addressForm.controls.city"></control-messages>
                <wp-country [selectCntry]="selectedAddress.country" (statesListChanged)="getStateList($event)"></wp-country>
                <div class="errorMsg">
                    <div *ngIf="selectedAddress.country=='' && addressForm.touched"><i class="fa fa-warning"></i>&nbsp;&nbsp;Required
                    </div>
                </div>
                <select class="form-control" required ngControl="state" [(ngModel)]="selectedAddress.state"><option *ngFor="let state of states" [ngValue]="state.stateId">{{state.stateName}}</option></select>
                <control-messages [control]="addressForm.controls.state"></control-messages>
                <!--<input placeholder="State" ngControl="state" maxlength="30" required [(ngModel)]="selectedAddress.state" />
                <control-messages [control]="addressForm.controls.state"></control-messages>
                <input placeholder="Country" ngControl="country" maxlength="30" required [(ngModel)]="selectedAddress.country" />
                <control-messages [control]="addressForm.controls.country"></control-messages>-->
                <input placeholder="ZIP Code" ngControl="zip" pattern="[0-9]{5,6}" maxlength="6" required [(ngModel)]="selectedAddress.zip"
                />
                <control-messages [control]="addressForm.controls.zip"></control-messages>
                <button class="wpBtn" (click)="click1()">Update</button>
            </form>
        </div>
    </div>
    <div [hidden]="!stepWait" class="wait">
        <label>Processing</label>
        <div class="arrow"></div>
        <span>Please Wait</span>
    </div>
    <div [hidden]="!step2" class="step2">
        <label>CONGRATULATION! BILLING ADDRESS UPDATED SUCCESSFULLY</label>
        <button class="wpBtn" (click)="click2()">DONE</button>
    </div>
    <div [hidden]="!step3" class="step3">
        <label>REQUEST UNSUCCESSFUL!</label>
        <span>Please try after sometime.</span>
    </div>
</div>