<div class="updatePasswordContainer">
    <div [hidden]="!step1" class="step1">
        <label  class="title">Enter Password Details</label>
        <div>
            <form [ngFormModel]="pswdForm" novalidate>
                <input type="password" required placeholder="Old Password" ngControl="oldp" [(ngModel)]="oldp" />
                <control-messages [control]="pswdForm.controls.oldp"></control-messages>
                <input type="password" required placeholder="New Password" ngControl="newp1" pattern="^((?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&*()_+\-=\[\]{};':\\|,.<>\/?]).{8,20})$"
                    maxlength="20" minlength="8" [(ngModel)]="newp1" />
                <control-messages [control]="pswdForm.controls.newp1"></control-messages>
                <input type="password" required placeholder="Confirm New Password" ngControl="newp2" maxlength="20" [(ngModel)]="newp2" />
                <control-messages [control]="pswdForm.controls.newp2"></control-messages>
                <div class="errorMsg">
                    <div *ngIf="pswdForm.controls.newp2.dirty && pswdForm.controls.newp2.valid && pswdForm.errors!=null && pswdForm.errors.mismatchedPasswords"><i class="fa fa-warning"></i>&nbsp;&nbsp;Password does not match.
                    </div>
                </div>
                <button class="wpBtn" (click)="click1()">Update Password</button>
            </form>
        </div>
    </div>
    <div [hidden]="!stepWait" class="wait">
        <label>Processing</label>
        <div class="arrow"></div>
        <span>Please Wait</span>
    </div>
    <div [hidden]="!step2" class="step2">
        <label>CONGRATULATION! PASSWORD UPDATED SUCCESSFULLY</label>
        <button class="wpBtn" (click)="click2()">DONE</button>
    </div>
    <div [hidden]="!step3" class="step3">
        <label>REQUEST UNSUCCESSFUL!</label>
        <span>Please try after sometime.</span>
    </div>
</div>