<div class="updatePhoneContainer">
    <div [hidden]="!step1" class="step1">
        <label  class="title">Enter Contact Details</label>
        <div>
            <form [ngFormModel]="phoneForm" novalidate>
                <wp-country-code [selectCode]="code" (codeChanged)="getCountryCode($event)"></wp-country-code>
                <input  class="phone" required placeholder="Phone Number" ngControl="phone"  maxlength="10" minlength="10" pattern="\d{10}" [(ngModel)]="phone" />
                <control-messages [control]="phoneForm.controls.phone"></control-messages>
                <button class="wpBtn" (click)="click1()">Update</button>
            </form>
        </div>
    </div>
    <div [hidden]="!stepWait" class="wait">
        <label>Processing</label>
        <div class="arrow"></div>
        <span>Please Wait</span>
    </div>
    <div [hidden]="!step2" class="step2">
        <label>CONGRATULATION! PHONE NUMBER UPDATED SUCCESSFULLY</label>
        <button class="wpBtn" (click)="click2()">DONE</button>
    </div>
    <div [hidden]="!step3" class="step3">
        <label>REQUEST UNSUCCESSFUL!</label>
        <span>Please try after sometime.</span>
    </div>
</div>