<div class="verifyDiv">
    <div id="verify" class="verify">
        <div class="contentContainer">
            <section>
                <div class="verifyBlock">
                    <div class="logo"></div>
                    <div class="block clearfix">
                        <div class="header">
                            <i class="fa fa-check-circle"></i>
                            <span>Email address verified.</span>
                        </div>
                        <p>Thank you for verifying your email address.</p>
                        <p><span class="email">{{email}}</span> is now associated with your  Account.</p>
                        <div class="hl"></div>
                        <a href="/" class="wpBtn">Continue</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>