<div class="walletContainer">
    <div class="clearfix">
        <wp-money></wp-money>
        <wp-ba></wp-ba>
        <wp-cc></wp-cc>
    </div>
    <div>
        <wp-ach></wp-ach>
        <wp-check></wp-check>
    </div>
</div>
