<div class="withdrawFundsContainer">
    <div [hidden]="!step1" class="step1">
        <span class="name">{{name}}</span>, You have a withdrawal balance of <span class="bal">INR{{balance}}</span>
        <form [ngFormModel]="wf1" novalidate>
            <span class="dollar">INR</span><input placeholder="Enter Amount" ngControl="amt" required maxlength="8" pattern="^(\d{1,5}\.{1}\d{1,2})$|^(\d{1,5})$"
                [(ngModel)]="amt" />
            <control-messages [control]="wf1.controls.amt"></control-messages>
            <button class="wpBtn" (click)="click1()">Next</button>
        </form>
    </div>
    <div [hidden]="!step2" class="step2">
        <div (click)="step2=false;step1=true;" class="backBtn">
            <i class="fa fa-angle-left"></i>
        </div>
        <label class="title inlineImp">Withdraw Methods</label>
        <button class="wpBtn sec" (click)="click2('check')">PaperCheck</button>
        <button class="wpBtn sec" (click)="click2('wire')">Wire transfer</button>
        <button class="wpBtn sec" (click)="click2('ach')">ACH</button>
    </div>

    <div [hidden]="!step3" class="step3">
        <div (click)="step3=false;step2=true;" class="backBtn">
            <i class="fa fa-angle-left"></i>
        </div>
        <label class="title inlineImp">Withdraw Methods</label>
        <div [hidden]="instru.length==0" class="cards">
            <label class="subHeader">MY {{type}}s</label>
            <div class="bankBlock" [ngClass]="{scrollbox: instru.length>4}">
                <div *ngFor="let ins of instru; let l = last" (click)="clickIns(ins)" class="card">
                    <div class="bankLogo">{{ins.bankName}}</div>
                    <span class="value"><span>**** **** **** </span>
                    <span>{{ins.accNo.substr(ins.accNo.length - 4)}}</span></span>
                    {{ l && instru.length>4 === true ? bindScroll() : null}}
                </div>
            </div>
        </div>
        <div>
            <label class="subHeader sec">OTHER OPTIONS</label>
            <button class="wpBtn sec" (click)="click3()">Add {{type}}</button>
        </div>
    </div>
    <!--[hidden]="!step4"-->
    <div *ngIf="step4" class="step4">
        <div (click)="step4=false;step3=true;resizeOverlay()" class="backBtn">
            <i class="fa fa-angle-left"></i>
        </div>
        <label class="title inlineImp">You selected wire transfer withdrawal</label>
        <form [ngFormModel]="baForm" novalidate>
            <div class="clearfix">
                <div class="col-sm-6">
                    <input [readonly]="selectedBank.id != null" placeholder="Account Holder Name" ngControl="name" maxlength="30" required [(ngModel)]="selectedBank.name"
                    />
                    <control-messages [control]="baForm.controls.name"></control-messages>
                </div>

                <div class="col-sm-6">
                    <input [readonly]="selectedBank.id != null" class="pull-right" placeholder="Routing Number" ngControl="routingNo" pattern="[0-9]{9}"
                        maxlength="9" minlength="9" required [(ngModel)]="selectedBank.routingNo" />
                    <control-messages [control]="baForm.controls.routingNo"></control-messages>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-6">
                    <input [readonly]="selectedBank.id != null" placeholder="Account Number" [(ngModel)]="selectedBank.accNo" ngControl="accNo"
                        pattern="[0-9]{4,20}" minlength="4" maxlength="20" required />
                    <control-messages [control]="baForm.controls.accNo"></control-messages>
                </div>
                <div class="col-sm-6">
                    <input [readonly]="selectedBank.id != null" class="pull-right" placeholder="IBAN" [(ngModel)]="selectedBank.ban" ngControl="ban"
                        minlength="10" maxlength="30" />
                    <control-messages [control]="baForm.controls.ban"></control-messages>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-6">
                    <input [readonly]="selectedBank.id != null" placeholder="Bank Name" maxlength="30" [(ngModel)]="selectedBank.bankName" ngControl="bankName"
                        maxlength="30" required/>
                    <control-messages [control]="baForm.controls.bankName"></control-messages>
                </div>
                <div class="col-sm-6">
                    <input [readonly]="selectedBank.id != null" class="pull-right" placeholder="Bank Address" [(ngModel)]="selectedBank.address"
                        ngControl="address" maxlength="30" required/>
                    <control-messages [control]="baForm.controls.address"></control-messages>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-6">
                    <input [readonly]="selectedBank.id != null" placeholder="Bank City" maxlength="30" [(ngModel)]="selectedBank.city" ngControl="city"
                        maxlength="30" required/>
                    <control-messages [control]="baForm.controls.city"></control-messages>
                </div>
                <div class="col-sm-6">
                    <div [hidden]="selectedBank.id!=null">
                        <wp-country [selectCntry]="selectedBank.country" (statesListChanged)="getStateListB($event)"></wp-country>
                        <div class="errorMsg">
                            <div *ngIf="selectedBank.country=='' && baForm.touched"><i class="fa fa-warning"></i>&nbsp;&nbsp;Required
                            </div>
                        </div>
                    </div>
                    <input [hidden]="selectedBank.id==null" [readonly]="selectedBank.id != null" class="pull-right" placeholder="Bank Country"
                        [(ngModel)]="selectedBank.countryName"  maxlength="30" required/>
                    <!--<control-messages [control]="baForm.controls.country"></control-messages>-->
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-6">
                    <div [hidden]="selectedBank.id!=null">
                        <select required ngControl="state" [disabled]="selectedBank.id != null" [(ngModel)]="selectedBank.state"><option *ngFor="let state of statesB" [ngValue]="state.stateId">{{state.stateName}}</option></select>
                        <control-messages [control]="baForm.controls.state"></control-messages>
                    </div>
                    <input [hidden]="selectedBank.id==null" [readonly]="selectedBank.id != null" placeholder="Bank State" maxlength="30" [(ngModel)]="selectedBank.stateName"
                        ngControl="state" maxlength="30" required/>
                    <!--<control-messages [control]="baForm.controls.state"></control-messages>-->
                </div>
                <div class="col-sm-6">
                    <input [readonly]="selectedBank.id != null" class="pull-right" placeholder="Swift Code" [(ngModel)]="selectedBank.code" ngControl="code"
                        pattern="(.{8})$|^(.{11})" maxlength="11" minlength="8" required/>
                    <control-messages [control]="baForm.controls.code"></control-messages>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-6">
                    <input [readonly]="selectedBank.id != null" placeholder="Intermediary Bank Name" [(ngModel)]="selectedBank.ibn" ngControl="ibn"
                        maxlength="20" />
                    <control-messages [control]="baForm.controls.ibn"></control-messages>
                </div>
                <div class="col-sm-6">
                    <input [readonly]="selectedBank.id != null" class="pull-right" placeholder="Intermediary Bank Swift" [(ngModel)]="selectedBank.ibs"
                        ngControl="ibs" pattern="(.{8})$|^(.{11})" minlength="8" maxlength="11" />
                    <control-messages [control]="baForm.controls.ibs"></control-messages>
                </div>
            </div>
        </form>
        <button class="wpBtn" (click)="click4()">Withdraw</button>
    </div>
    <div [hidden]="!step5" class="step5">
        <div (click)="step5=false;step3=true;" class="backBtn">
            <i class="fa fa-angle-left"></i>
        </div>
        <label class="title inlineImp">You selected ACH withdrawal</label>
        <form [ngFormModel]="achForm" novalidate>
            <input [readonly]="selectedAch.id != null" required placeholder="Account Holder Name" ngControl="name" maxlength="30" [(ngModel)]="selectedAch.name"
            />
            <control-messages [control]="achForm.controls.name"></control-messages>
            <input [readonly]="selectedAch.id != null" required placeholder="Routing Number" pattern="[0-9]{9}" minlength="9" maxlength="9"
                ngControl="routingNo" [(ngModel)]="selectedAch.routingNo" />
            <control-messages [control]="achForm.controls.routingNo"></control-messages>
            <input [readonly]="selectedAch.id != null" required placeholder="Account Number" pattern="[0-9]{4,20}" ngControl="accNo"
                [(ngModel)]="selectedAch.accNo" maxlength="20" minlength="4" />
            <control-messages [control]="achForm.controls.accNo"></control-messages>
            <input [readonly]="selectedAch.id != null" required placeholder="Bank Name" ngControl="bankName" [(ngModel)]="selectedAch.bankName"
                maxlength="30" />
            <control-messages [control]="achForm.controls.bankName"></control-messages>
            <button class="wpBtn" (click)="click5()">Withdraw</button>
        </form>
    </div>
    <div *ngIf="step6" class="step6">
        <div (click)="step6=false;step2=true;" class="backBtn">
            <i class="fa fa-angle-left"></i>
        </div>
        <label class="title inlineImp">You selected PaperCheck withdrawal</label>
        <form [ngFormModel]="checkForm" novalidate>
            <input placeholder="Address" ngControl="address" maxlength="30" required [(ngModel)]="selectedCheck.address" />
            <control-messages [control]="checkForm.controls.address"></control-messages>
            <input placeholder="City" ngControl="city" maxlength="30" required [(ngModel)]="selectedCheck.city" />
            <control-messages [control]="checkForm.controls.city"></control-messages>
            <wp-country [selectCntry]="selectedCheck.country" (statesListChanged)="getStateListC($event)"></wp-country>
            <div class="errorMsg">
                <div *ngIf="selectedCheck.country=='' && checkForm.touched"><i class="fa fa-warning"></i>&nbsp;&nbsp;Required
                </div>
            </div>
            <select [(ngModel)]="selectedCheck.state" ngControl="state" required><option *ngFor="let state of statesC" [ngValue]="state.stateId">{{state.stateName}}</option></select>
            <control-messages [control]="checkForm.controls.state"></control-messages>
            <!--<input placeholder="State" ngControl="state" maxlength="30" required [(ngModel)]="selectedCheck.state" />
            <control-messages [control]="checkForm.controls.state"></control-messages>
            <input placeholder="Country" ngControl="country" maxlength="30" required [(ngModel)]="selectedCheck.country" />
            <control-messages [control]="checkForm.controls.country"></control-messages>-->
            <input placeholder="ZIP Code" ngControl="zip" pattern="[0-9]{5,6}" maxlength="6" required [(ngModel)]="selectedCheck.zip"
            />
            <control-messages [control]="checkForm.controls.zip"></control-messages>
        </form>
        <button class="wpBtn" (click)="click6()">Withdraw</button>
    </div>
    <div [hidden]="!stepWait" class="wait">
        <label>Processing Transaction</label>
        <div class="arrow"></div>
        <span>Please Wait</span>
    </div>
    <div [hidden]="!step7" class="step7">
        <label>CONGRATULATION! WITHDRAW FUNDS SUCCESSFUL</label>
        <button class="wpBtn" (click)="click7()">DONE</button>
    </div>
    <div [hidden]="!step8" class="step8">
        <label>WITHDRAW UNSUCCESSFUL!</label>
        <span *ngIf="type == 'Bank Account'">Your {{type}} with title {{selectedBank.bankName}}-{{selectedBank.accNo.substr(selectedBank.accNo.length - 4)}}  was declined.</span>
        <span *ngIf="type=='ACH'">Your {{type}} with title {{selectedAch.bankName}}-{{selectedAch.accNo.substr(selectedAch.accNo.length - 4)}}  was declined.</span>
        <span *ngIf="type=='PaperCheck'">Your PaperCheck with title {{selectedCheck.address}}-{{selectedCheck.city}}  was declined.</span>
    </div>
</div>